<div class="max-the-Content">
			<div class="max-the-con">
				<span class="max-i-left">交易标题：</span>
				       <input type="text" class="max-i-news" name="trading_title" required>		
			</div>
<!-- 			<div class="max-the-con">
				<span class="max-i-left">交易开始时间：</span>
				<input type="text" value="2015-4-8" class="max-i-new">
				<span class="max-i-right"><input value="00"> <a href="javascript:;" class="max-i-down"></a> </span>
			</div>
			<div class="max-the-con">
				<span class="max-i-left">交易结束时间：</span>
				<input type="text" value="2015-4-9" class="max-i-new">
				<span class="max-i-right"><input value="00"> <a href="javascript:;" class="max-i-down"></a> </span>
			</div> -->
			<div class="max-the-con">
				<span class="max-i-left">交易开始时间：</span>
				<span class="input-comb date" data-toggle="datepicker">
    			<input type="date" id="start" name="user[start]" value="<{$userInfo.start|date_format:'%Y-%m-%d'}>">
    			<span class="input-comb-addon"><i class="icon-calendar"></i></span>
				</span>
			</div>
			<div class="max-the-con">
				<span class="max-i-left">交易结束时间：</span>
				<span class="input-comb date" data-toggle="datepicker">
    			<input type="date" id="stop" name="user[stop]" value="<{$userInfo.stop|date_format:'%Y-%m-%d'}>">
    			<span class="input-comb-addon"><i class="icon-calendar"></i></span>
				</span>
			</div>

			<div class="max-the-con">
				<span class="max-i-left">是否允许一口价：</span>
				<input type="radio" name="price_type" value="1" class="max-r-input" id="price_type1" checked><label for="price_type1">允许</label>
				<input type="radio" name="price_type"value="2" id="price_type2" class="max-r-input"><label  for="price_type2">不允许</label>
			</div>





			<!---商品设置---->
			<div  class="max-the-con">
				<h3 class="max-i-left">商品设置：</h3>
				<div class="max-the-Commodity">
					<div class="max-Commodity re">
						<span class="max-c-name">
							<a class="max-fox1"><img src="images/menber/delecate.gif"></a>
							<a>磷青铜带边角料</a>
						</span>
						<span class="max-c-Number">数量：<em>398吨</em></span>
						<span class="max-c-price">
							底价：			
							<input value="398" class="max-Number">
							<a href="javascript:;" class="max-c-plus"></a>
							<a href="javascript:;" class="max-c-minus"></a>
						</span>
						<span class="max-Price">
							一口价：			
							<input value="398" class="max-Number">
							<a href="javascript:;" class="max-c-plus"></a>
							<a href="javascript:;" class="max-c-minus"></a>
						</span>
					</div>
					<div class="max-Commodity re">
						<span class="max-c-name">
							<a class="max-fox1"><img src="images/menber/delecate.gif"></a>
							<a>废铝屑</a>
						</span>
						<span class="max-c-Number">数量：<em>398吨</em></span>
						<span class="max-c-price">
							底价：			
							<input value="238" class="max-Number">
							<a href="javascript:;" class="max-c-plus"></a>
							<a href="javascript:;" class="max-c-minus"></a>
						</span>
						<span class="max-Price">
							一口价：			
							<input value="238" class="max-Number">
							<a href="javascript:;" class="max-c-plus"></a>
							<a href="javascript:;" class="max-c-minus"></a>
						</span>
					</div>
					<div class="max-Commodity re">
						<span class="max-c-name">
							<a class="max-fox1"><img src="images/menber/delecate.gif"></a>
							<a>废钢管</a>
						</span>
						<span class="max-c-Number">数量：<em>398吨</em></span>
						<span class="max-c-price">
							底价：			
							<input value="238" class="max-Number">
							<a href="javascript:;" class="max-c-plus"></a>
							<a href="javascript:;" class="max-c-minus"></a>
						</span>						
						<span class="max-Price">
							一口价：			
							<input value="238" class="max-Number">
							<a href="javascript:;" class="max-c-plus"></a>
							<a href="javascript:;" class="max-c-minus"></a>
						</span>
					</div>
					<div class="max-Commodity re">
						<span class="max-c-name">
							<a class="max-fox1"><img src="images/menber/delecate.gif"></a>
							<a>废铁棒</a>
						</span>
						<span class="max-c-Number">数量：<em>398吨</em></span>
						<span class="max-c-price">
							底价：			
							<input value="398" class="max-Number">
							<a href="javascript:;" class="max-c-plus"></a>
							<a href="javascript:;" class="max-c-minus"></a>
						</span>
						<span class="max-Price">
							一口价：			
							<input value="398" class="max-Number">
							<a href="javascript:;" class="max-c-plus"></a>
							<a href="javascript:;" class="max-c-minus"></a>
						</span>
					</div>
				</div>	
				<div class="max-Advice">
					<input type="checkbox">
					<span>价格建议<em>(勾选此项将在商品提交后24小时内收到东方循环专业产品经理给出的价格建议)</em></span>
				</div>
			</div>	
			<div class="max-the-con last">
				<span class="max-i-left">交货期设置：</span>
				<input type="radio"  value="1" name="trade_type" class="max-r-input" id="trade_type1" checked>
				<label class="max-r-Once" id="trade_type1">一次出货</label>
				<input type="radio" value="2" name="trade_type" class="max-r-input" id="trade_type2">
				<label class="max-r-Once" id="trade_type2">多次出货</label>
			</div>

  

	</div>

		<div class="max-the-Intr">
			<ul>
				<li>
					<span>最小加价幅度：</span>
					<label><input name="add_price" type="text"> %</label>
				</li>
				<li>
					<span>保证金设置：</span>
					<label><input name="add_price" type="text">元</label>
				</li>
				<li>
					<span>资金走向：</span>
					<label>
						<input type="radio"  value="1" name="trade_type" class="max-r-input" id="trade_type1" checked>
						<label class="max-r-Once" id="trade_type1">一次出货</label>
				<input type="radio" value="2" name="trade_type" class="max-r-input" id="trade_type2">
				<label class="max-r-Once" id="trade_type2">多次出货</label>

					</label>
				</li>
				<li>
					<span>公开要素：</span>
					<label>过程公开，公开竞价公司，公开竞价价格</label>
					<a class="max-li-mod">修改</a>
				</li>
				<li>
					<span>查看权限：</span>
					<label>报名后审核可见联系方式；需供应商签署<a class="max-m-text">保密协议</a>才能看产品详细信息、下载附件和进行报名<a  class="max-m-text">了解详情</a></label>
					<a class="max-li-mod">修改</a>
				</li>
				<li>
					<span>是否限制与企业：</span>
					<label>不限制</label>
					<a class="max-li-mod">修改</a>
				</li>
			</ul>
		</div>

	<!--填写交易地址-->	
		<div class="max-address Rele">
			<div>
				<ul class="max-change-shipping">
					<li class="max-selected active">
						<span class="max-Delivery"><i></i>交割地址</span>
						<input type="radio" class="max-active-shipping">
						<label>
							<address>
								上海徐汇区，漕宝路784号，51800,货运
								<i>(常春，17877886655)</i>
								<em>
									<span>默认</span>
									<span class="max-get-ad">修改本地址</span>
								</em>
							</address>
						</label>
					</li>
					<li class="max-selected">					
						<input type="radio" class="max-active-shipping">
						<label>
							<address>
								杭州江干区，天成路784号，518000,2014-9-29，货运
								<i>(常春，17877886655)</i>							
							</address>
						</label>
					</li>
					<li class="max-selected">					
						<input type="radio" class="max-active-shipping">
						<label>
							<address>
								上海徐汇区，漕宝路784号，518000,2014-9-29，货运
								<i>(常春，17877886655)</i>							
							</address>
						</label>
					</li>
					<li class="max-selected">					
						<input type="radio" class="max-active-shipping">
						<label>
							<address>
								上海徐汇区，漕宝路784号，518000,2014-9-29，货运
								<i>(常春，17877886655)</i>							
							</address>
						</label>
					</li>
					<li class="max-selected">					
						<input type="radio" class="max-active-shipping">
						<label>
							<address>
								上海徐汇区，漕宝路784号，518000,2014-9-29，货运
								<i>(常春，17877886655)</i>							
							</address>
						</label>
					</li>
					<li class="max-Other-add"> 
						<a>使用其他地址</a>
					</li>
				</ul>
			</div>
		</div>