<div class="maxmain-right r">
		<!-- 产品 -->
		<!-- 滑动展示一 -->
				<div class="maxpr-solid maxproduct maxproduct-gufei">
					<div class="max-p-title t3">
						<div class="xian"></div>
						<div class="h3">联系方式</div><i></i>
						
						
					</div>
					<div class="max-tabs-body">
					<div class="maxmap"><img src="<{$shopdata.map_img}>" alt="" /></div>
						<div class="maxcomon">
					<!-- 联系方式 -->
				
				
				<!-- 联系方式END -->
						</div>
					</div>

					
				</div>
				<!-- 产品 -->
		</div>