
  <div class="max-Tabs-top">
       <ul class="clearfix">
        <li ><span> <a href="<{url action=topc_ctl_passport@signup}>">个人用户</a></span></li>
        <li class="active"><span><a href="<{url action=topc_ctl_passport@signupc}>">企业用户</a></span></li>
       </ul>
       <div class="maxextra"><span>我已经注册，现在就&nbsp;<a href="<{url action=topc_ctl_passport@signin}>">登录</a></span></div>
      </div>
      <div class="max-Tabs-body">
      <!-- 切换1 -->

         <{include file='topc/passport/signup/signupType/compSign.html'}>
         
      </div>
    <div id="dialog" style="display:none;">
  <div class="agreement">
    <div class="title">企业注册协议</div>
    <div><{$license}></div>
    <div class="text-center"><a href="javascript:void(0);" class="btn btn-import btn-lg dialog-btn-close"><span><span>同意并继续</span></span></a></div>
  </div>
  </div>
<script type="text/javascript">
  
  $('.action-open-dialog').click(function (e) {
    $('#dialog').dialog({
        width: 890,
        height: 400,
        title:'用户注册协议',
        close: function(){
            document.querySelector('#for_license').checked = true;
        }
    });
});
 
</script>