<div id="dialog" style="display:none">
    <{$artList}>
</div>
<div id="dialogPrice" style="display:none">
    <{$dialogPrice}>
</div>
     <div class="biddin-head">
            <div class="title-icon">竞价</div>
            <div class="l">
              <div class="title">供应磷青铜带边角料 废铝屑 废钢管 废钢棒共80吨</div>
              <div class="info-item clearfix">
                <div class="item">保证金：￥50,000</div>
                <div class="item"> 延时周期：5分钟/次</div>
                <div class="item">交割方式：线下交割</div>
                <div class="item last"> 出货类型：多次出货</div>
                <div class="help"><a href="" title="">&nbsp;</a></div>
              </div>
            </div>
            <div class="r">
              <div class="zt">正在进行中</div>
              <div class="maxtime">
                <span>距结束</span><b>00</b><span>天</span><b>22</b><span>时</span><b>59</b><span>分</span><b>47.7</b><span>秒</span>
              </div>
            </div>

          </div>
          <!-- 版块头部END -->
          <!-- 版块内容区 -->
<form>
          <div class="biddin-body">
          <!-- 项目一 -->
            <div class="biddin-item odd">
              <table width="100%" border="0" cellspacing="0" cellpadding="0" aling="left">
                <colgroup>
                    <col class="col-5">
                    <col class="col-4">
                    <col class="col-4">
                    <col class="col-4">
                    <col class="col-3">
            

                </colgroup>
                <tbody>
                  <tr>    
                    <td class="name"><div class="icon">&nbsp;</div>磷青铜带边角料</td>
                    <td>货量:9.5吨</td>
                    <td> 一口价：￥11100 / 吨</td>
                    <td>当前价：<em>￥54100</em> / 吨</td>
                    <td>
                      <div class="goods-buy">
                        <div class="t">出价:</div>
                        <span class="p-quantity">
                          <a href="javascript:void(0);" class="btn-decrease">-</a>
                          <input type="text" id="cj1" name="jiage"  class="action-quantity-input" value="1">
                          <a href="javascript:void(0);" class="btn-increase">+</a>
                        </span>
          
                      </div>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
              <!-- 弹出层 -->
              <div class="max-bd-popup">
                <div class="arrow arrow-bottom" ><i class="below">◆</i><i class="above">◆</i></div>
                <div class="max-pic"><a href="" title=""><img src="images/images/a25.jpg" alt=""></a></div>
                <div class="max-info">
                  <div class="goods-name"><a href="" title="">磷青铜带边角料</a></div>
                  <ul class="detailinfo-list">
                      <li>编号：G503FD84051B2D1</li>
                      <li>型号：ZYA</li>
                      <li>品牌：绿薇</li>
                      <li>性质：生物酶</li>
                      <li>海关商品编号：7400000000</li>
                      <li>商品规格：含铜量93%</li>
                  </ul>
                </div>
              </div>
              <!-- 弹出层END -->
            </div>
            <!-- 项目一END -->
            <!-- 项目二 -->
            <div class="biddin-item ">
              <table width="100%" border="0" cellspacing="0" cellpadding="0" aling="left">
                <colgroup>
                   <col class="col-5">
                    <col class="col-4">
                    <col class="col-4">
                    <col class="col-4">
                    <col class="col-3">
            

                </colgroup>
                <tbody>
                  <tr>    
                    <td class="name"><div class="icon">&nbsp;</div>磷青铜带边角料</td>
                    <td>货量:9.5吨</td>
                    <td> 一口价：￥11100 / 吨</td>
                    <td>当前价：<em>￥54100</em> / 吨</td>
                    <td>
                      <div class="goods-buy">
                        <div class="t">出价:</div>
                        <span class="p-quantity">
                          <a href="javascript:void(0);" class="btn-decrease">-</a>
                          <input type="text" id="cj2" name="jiage"  class="action-quantity-input" value="1">
                          <a href="javascript:void(0);" class="btn-increase">+</a>
                        </span>
          
                      </div>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
              <!-- 弹出层 -->
              <div class="max-bd-popup">
                <div class="arrow arrow-bottom" ><i class="below">◆</i><i class="above">◆</i></div>
                <div class="max-pic"><a href="" title=""><img src="images/images/a25.jpg" alt=""></a></div>
                <div class="max-info">
                  <div class="goods-name"><a href="" title="">磷青铜带边角料</a></div>
                  <ul class="detailinfo-list">
                      <li>编号：G503FD84051B2D1</li>
                      <li>型号：ZYA</li>
                      <li>品牌：绿薇</li>
                      <li>性质：生物酶</li>
                      <li>海关商品编号：7400000000</li>
                      <li>商品规格：含铜量93%</li>
                  </ul>
                </div>
              </div>
              <!-- 弹出层END -->
            </div>
            <!-- 项目二END -->
            <!-- 项目一 -->
            <div class="biddin-item odd">
              <table width="100%" border="0" cellspacing="0" cellpadding="0" aling="left">
                <colgroup>
                    <col class="col-5">
                    <col class="col-4">
                    <col class="col-4">
                    <col class="col-4">
                    <col class="col-3">
            

                </colgroup>
                <tbody>
                  <tr>    
                    <td class="name"><div class="icon">&nbsp;</div>磷青铜带边角料</td>
                    <td>货量:9.5吨</td>
                    <td> 一口价：￥11100 / 吨</td>
                    <td>当前价：<em>￥54100</em> / 吨</td>
                    <td>
                      <div class="goods-buy">
                        <div class="t">出价:</div>
                        <span class="p-quantity">
                          <a href="javascript:void(0);" class="btn-decrease">-</a>
                          <input type="text" id="cj3"  name="jiage" class="action-quantity-input" value="1">
                          <a href="javascript:void(0);" class="btn-increase">+</a>
                        </span>
          
                      </div>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
              <!-- 弹出层 -->
              <div class="max-bd-popup">
                <div class="arrow arrow-bottom" ><i class="below">◆</i><i class="above">◆</i></div>
                <div class="max-pic"><a href="" title=""><img src="images/images/a25.jpg" alt=""></a></div>
                <div class="max-info">
                  <div class="goods-name"><a href="" title="">磷青铜带边角料</a></div>
                  <ul class="detailinfo-list">
                      <li>编号：G503FD84051B2D1</li>
                      <li>型号：ZYA</li>
                      <li>品牌：绿薇</li>
                      <li>性质：生物酶</li>
                      <li>海关商品编号：7400000000</li>
                      <li>商品规格：含铜量93%</li>
                  </ul>
                </div>
              </div>
              <!-- 弹出层END -->
            </div>
            <!-- 项目一END -->
            <!-- 项目二 -->
            <div class="biddin-item ">
              <table width="100%" border="0" cellspacing="0" cellpadding="0" aling="left">
                <colgroup>
                    <col class="col-5">
                    <col class="col-4">
                    <col class="col-4">
                    <col class="col-4">
                    <col class="col-3">
            

                </colgroup>
                <tbody>
                  <tr>    
                    <td class="name"><div class="icon">&nbsp;</div>磷青铜带边角料</td>
                    <td>货量:9.5吨</td>
                    <td> 一口价：￥11100 / 吨</td>
                    <td>当前价：<em>￥54100</em> / 吨</td>
                    <td>
                      <div class="goods-buy">
                        <div class="t">出价:</div>
                        <span class="p-quantity">
                          <a href="javascript:void(0);" name="jiage" class="btn-decrease">-</a>
                          <input type="text" id="cj4"  class="action-quantity-input" value="1">
                          <a href="javascript:void(0);" class="btn-increase">+</a>
                        </span>
          
                      </div>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
              <!-- 弹出层 -->
              <div class="max-bd-popup">
                <div class="arrow arrow-bottom" ><i class="below">◆</i><i class="above">◆</i></div>
                <div class="max-pic"><a href="" title=""><img src="images/images/a25.jpg" alt=""></a></div>
                <div class="max-info">
                  <div class="goods-name"><a href="" title="">磷青铜带边角料</a></div>
                  <ul class="detailinfo-list">
                      <li>编号：G503FD84051B2D1</li>
                      <li>型号：ZYA</li>
                      <li>品牌：绿薇</li>
                      <li>性质：生物酶</li>
                      <li>海关商品编号：7400000000</li>
                      <li>商品规格：含铜量93%</li>
                  </ul>
                </div>
              </div>
              <!-- 弹出层END -->
            </div>
            <!-- 项目二END -->

          </div>
          </form>
          <!-- 版块内容区END -->
          <!-- 版块底部 -->

          <div class="biddin-footer">
            <div class="tishi">
            <div class="item-1"><div class="icon"></div>
              提示：出价后支付保证金方成为有效出价更新至前台，</div>
              <div class="item-1">如果有相同的出价，保证金到账时间为准，交易结束前2小时，结束保证金缴纳</div>
            </div>
            <div class="max-buy-box">
              <div class="l product-concern">
                <div class="item">当前价：￥<span id="dqj">68800</span> / 吨</div>
                <div class="item item2">我的总价：<i>￥<span id="wdzj">77800</span></i> / 吨</div>
                <div class="item">总一口价：97800 / 吨</div>
              </div>
              <div class="r">
                    <div class="item item1" >您还未缴纳保证金，<button type="button" id="margin">去缴纳><button></div>
                <div class="item item2" style="display:none">您已缴纳保证金，提交报价将立即生效</div>
<!--                <a href="" title="" class="btn">提交报价</a>-->
                <button type="button" id="offerPrice" class="btn">提交报价</button>
                <a href="" title="" class="btn btn-r" >一口价购买</a>

              </div>
            </div>
          </div>

   <script>

function setMyPrice(){
	var value=0
      $(".action-quantity-input").each(function(){
		value = Number($(this).val())+value;
      });
     $("#wdzj").text(value);
	
}
setMyPrice();
$(".action-quantity-input").bind('input propertychange', function() {
	setMyPrice();

}); 

$('#margin').click(function (e) {
    $('#dialog').dialog({
        width: 890,
        height: 400,
        left:0,
        top:0,
        modal: true,
        title:'用户注册协议',
        close: function(){
        }
    });
    //alert($(window).height());
//$("#dialog").panel("move",{top:500}); 
});
$('#offerPrice').click(function (e) {
    if($("#wdzj").text()<Number($("#dqj").text()))
    	{alert("您的出价低于当前最高价，请重新输入");}
    else{
    	$('#dialogPrice').dialog({
        width: 890,
        height: 400,
        title:'提交报价弹窗',
        close: function(){
        }
    });
    }
    
});
</script>