
<h3><{t}>文章信息<{/t}></h3>
<div id="x-g-basic" class="goods-detail">
    <div class="tableform">
   
        <form action="?app=sysshop&ctl=admin_service&act=save" method="post" name="aEditor" id="aEditor">
         <{input type="hidden" name="article_id" value=$row.article_id}>
        <div class="division">
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <th><em><font color="red">*</font></em><{t}>文章标题：<{/t}></th>
                    <td>
                        <{input type="text" id="article_title" name="title" required="true" vtype='required' value=$row.title}>
                    </td>
                </tr>
                <th><{t}>发布时间：<{/t}></th>
                <td><input type="date" name="pubtime"></td>
                </tr>
                <tr>
                  <th><{t}>文章logo：<{/t}></th>
                  <td>
                    <{input type="image" name='article_logo' width=30 height=30 value=$row.article_logo}>
                    <span class="notice-inline">
                      <{t}>建议图片尺寸108px * 108px,提高用户体验，增强品牌宣传效果。<{/t}></span>
                  </td>
                </tr>
                <tr>
                    <th><em><font color="red">*</font></em><{t}>简介(150字):<{/t}></th>
                    <td>
                       <{input type=textarea maxlength=150 name='abstract' value=$row.abstract }>
                    </td>
                </tr>
                <tr>
                    <th><em><font color="red">*</font></em><{t}>文章内容:<{/t}></th>
                    <td>
                       <{input type=html name='content' value=$row.content}>
                    </td>
                </tr>
                <tr>
                    <th><em><font color="red">*</font></em><{t}>是否发布:<{/t}></th>
                    <td>
                       <input type=radio name='ifpub' value="1"  checked <{if $row.article_id}><{if $row.ifpub==1}>checked="true"<{/if}><{/if}>>是
                       <input type=radio name='ifpub' value="0" <{if $row.article_id}><{if $row.ifpub==0}>checked="true"<{/if}><{/if}>>否
                    </td>
                </tr>
            </table>
        </div>
        <div class="table-action">
            <{button type="submit" id='brand-form-submit' label="保存"|t:'syscontent'}>
        </div>
        </form>
    </div>
</div>
<script>
  (function(){
    var _form = $('aEditor');
    var btn =$('brand-form-submit');
    var finder = finderGroup['<{$env.get._finder.finder_id}>'];

    _form.store('target',{
      onSuccess:function(response){
        var hash_res_obj = JSON.decode(response);

        if (hash_res_obj.success != undefined && hash_res_obj.success != ""){
          try{
            var _dialogIns = btn.getParent('.dialog').retrieve('instance');
          }catch(e){}

          if(_dialogIns){
            _dialogIns.close();
            window.finderGroup['<{$env.get._finder.finder_id}>'].refresh();
          }
        }
      }
    });

    btn.addEvent('click',function(){
      _form.fireEvent('submit',{stop:$empty});
    });

  })();
</script>