<div class="panel-heading">
  <div class="text-center">
    <ul class="step-bar">
      <li class="on">
        <div class="state">已下单，待付款</div>
        <div class="time"><{$trade.created_time|cdate}></div>
        <i class="glyphicon glyphicon-chevron-right"></i>
      </li>
      <li>
        <div class="state">已支付，待发货</div>
        <div class="time"></div>
        <i class="glyphicon glyphicon-chevron-right"></i>
      </li>
      <li>
        <div class="state">已发货，待收货</div>
        <div class="time"></div>
        <i class="glyphicon glyphicon-chevron-right"></i>
      </li>
      <li>
        <div class="state">已完成</div>
        <div class="time"></div>
      </li>
    </ul>
  </div>
</div>
