<div class='tableform'  style="margin:2px;" id='prop_select'>
  <table width="100%" border="0" cellspacing="0" cellpadding="0" >
    <tr>
      <td style=" vertical-align:top;" width='35%' >
        <h5><{t}>请选择属性<{/t}></h5>
        <div class="division"  style="margin:2px;">
          <p style="margin:3px; padding:0"><input type='text' class='prop_select_search shadow' id='prop-select-search-input' style='display:none;' value='<{t}>搜索属性...<{/t}>' /></p>
          <div class='prop_search'  style='height:240px;overflow:auto;'>
            <ul class='g-menu-sec'>
              <{foreach from=$props item=sItem}>
              <li>
                <label>
                  <input name='prop_select' type='radio' value="<{$sItem.prop_id}>" autocomplete='off'/>
                  <{$sItem.prop_name|escape:"html"}>
                </label>
                &nbsp;&nbsp;
                <label>
                  <{if $sItem.prop_type=='nature'}><{t}>自然属性<{/t}><{else}><{t}>销售属性<{/t}><{/if}>
                </label>
                <{if $sItem.prop_memo}> [<{$sItem.prop_memo}>]<{/if}>
              </li>
              <{/foreach}>
            </ul>
          </div>
        </div>
      </td>
      <td style="vertical-align:top;" width='70%' >
        <h5><{t}>属性预览区<{/t}></h5>
        <div class="division" style="margin:2px;">

          <div id='sel-prop-value-area' class="clearfix">
            <div class='notice'><{t}>请在左侧列表选择属性！<{/t}></div>
          </div>

        </div>
      </td>
    </tr>
    <tr>
    </tr>
  </table>
</div>

<{area inject='.mainFoot'}>
<div class="table-action">
  <{button class='close-btn' label="保存"|t:'syscategory'}>
</div>
<{/area}>





<script>
  void function(){
    $E('.close-btn', $('prop_select').getParent('.dialog-box')).addEvent('click',function(){
      var dialog=this.getParent('.dialog');

      if(!dialog)return;
      var selected=$ES('#prop_select .g-menu-sec li').filter(function(li){
        return li.getElement('input[type=radio]').checked;
      });

      if(selected.length>0){
        dialog.retrieve('callback',$empty)(selected[0].getElement('input').value,selected[0].getElement('label').get('text'),selected[0].getElements('label')[1].get('text'));
      }

      dialog.getElement('.btn-close').fireEvent('click');
    });

    $$('#prop_select .g-menu-sec input[name^=prop_select]').addEvent('click',function(sel){
      var selSId = this.get('value');
      new Request({
        url:'?app=syscategory&ctl=admin_props&act=previewProp',
        data:'prop_id='+selSId,
        onRequest:function(){
          $('sel-prop-value-area').setText("loading...");
        },
        onSuccess:function(rs){
          $('sel-prop-value-area').set('html',rs);
        }
      }).send();
    });

    if($ES('#prop_select .g-menu-sec li').length>50){
      $('prop-select-search-input').show().addEvent('focus',function(){
        if(this.value=='搜索属性...')
        this.value='';
        }).addEvent('keyup',function(){
        var value=this.value;
        if(!!value){
          var result=$ES('#prop_select .g-menu-sec li').filter(function(li){
            li.alt=li.alt||"";
            li.title=li.title||"";
            return li.alt.contains(value.trim())
            ||li.title.contains(value.trim())
            ||$E('label',li).getText().contains(value.trim());
          });
          if(result.length>0){
            $ES('#prop_select .g-menu-sec li').hide();
            $$(result).show();
            return;
          }
        }
        $ES('#prop_select .g-menu-sec li').show();
      });
    }

  }();
</script>
