<form id="propForm" class="tableform" action="?app=sysplan&ctl=admin_literaryclass&act=save" method="POST">
<{input type="hidden"  name="literaryclass_id"  value=$literaryclassInfo.literaryclass_id }>
  <div class="division">
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <th><em class="red">*</em><{t}>案例分类：<{/t}></th>
        <td><{input type="text" name="literaryclass" vtype="required"  value=$literaryclassInfo.literaryclass maxlength='20'}></td>
      </tr>
<!--       <tr>
        <th><{t}>排序：<{/t}></th>
        <td><{input style="width:50px;" type="number" name="order_sort" min=1  value=$literaryclassInfo.order_sort}></td>
      </tr> -->
    </table>
   </div>
   <div class="table-action">
    <{button label="保存"|t:'sysplan' type="submit" class="btn-primary"}>
  </div>
</form>

<script type="text/javascript">
$('propForm').store('target',
{
  onComplete:function(rs)
   {
   if(!rs) return;
   rs = JSON.decode(rs);
   if(rs.success)
     {
      if(window.finderGroup) window.finderGroup['<{$env.get.finder_id}>'].refresh();
      if($('propForm').getParent('.dialog'))
        {
          var Dlg = $('propForm').getParent('.dialog').retrieve('instance');
          if(Dlg.update)
            {
             Dlg.update.retrieve('instance').initContent();
            }
          Dlg.close();
        }
     }
   }
});
  
</script>
