<div class="address shop">
  <{include file="topm/common/top.html"}>
  <div class="main" id="main">
    <div class="empty-area">
      <span class="empty-txt">你还没有收货地址，快去创建</span>
      <div class="dots">
        <span class="dots-ss"></span><br>
        <span class="dots-ms"></span><br>
        <span class="dots-tri"></span>
      </div>
    </div>
    <div class="add-action">
      <a href="<{url action=topm_ctl_member@addrUpdate}>" class="ui-btn ui-btn-warning">
        <i class="icon-add"></i>新建地址
      </a>
    </div>
  </div>

</div>