<div class="mobile-bound shop">
  <{include file="topm/common/top.html"}>
  <div class="main" id="main">
    <ul class="form-vertical">
      <li class="form-row mobile">
        <span class="form-act">
          <div class="unbind-module">
            <p class="title">已绑定手机号：</p>
            <p class="info"> <{$userInfo.mobile}></p>
          </div>
        </span>
      </li>
      <li class="form-row commit">
          <a href="<{url action=topm_ctl_member@verify verifyType=mobile type=update}>" class="ui-btn-warning ui-btn  btn-block">绑定新手机号
          </a>
      </li>
      <li class="form-center-row">
         <a href="<{url action=topm_ctl_member@unVerifyOne verifyType=mobile type=delete}>">解绑手机</a>
      </li>
    </ul>
  </div>
</div>