<div class="coupon">
  <{foreach from=$homeCouponList item=homecoupon name=homecouponname}>
  <{if $env.foreach.homecouponname.iteration > 3}> <{break}> <{/if}>
  <div class="coupon-item">
    <div class="init">
      <div class="coupon-price"><{$homecoupon.deduct_money}></div>
      <div class="coupon-info">
        <{$homecoupon.coupon_name}>
      </div>
      <a href="javascript:void(0);" data-couponid="<{$homecoupon.coupon_id}>" data-shopid="<{$shopdata.shop_id}>" class="get-coupon-btn">立即领取</a>
    </div>
  </div>
  <{/foreach}>
  <div class="coupon-more">
    <a href="<{url action=topc_ctl_shopcenter@shopCouponList shop_id=$shopdata.shop_id}>">更多<br>优惠</a>
  </div>
</div>
<script>
$(".get-coupon-btn").click(function(e){
  e.preventDefault();
  var url = '<{url action=topc_ctl_shopcenter@getCouponCode}>';
  var coupon_id = $(this).attr('data-couponid');
  var shop_id = $(this).attr('data-shopid');
  var data = 'shop_id='+shop_id+'&coupon_id='+coupon_id;
  $.post(url, data, function(rs){
      if(rs.error)
      {
        Message.error(rs.message);
      }else{
        if(rs.redirect){
          location.href = rs.redirect;
        }
      }
  })
})
</script>