<!-- JiaThis Button BEGIN -->
<script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_r.js?move=0&amp;btn=r1.gif" charset="utf-8"></script>
<!-- JiaThis Button END -->       
<div class="maxPath">
    <dl class="basic-ex-breadcrumbs clearfix">
        <dt>当前位置：</dt>
        <dd>
            <a class="beb-nav" href="/index.php/market"><span>行情中心</span></a><span class="beb-raquo">></span>
            <a class="beb-nav" href="<{url action=topc_ctl_market@getNode nodeName=$artList.node_name nodeId=$artList.node_id}>"><span><{$artList.node_name}></span></a>
            <span class="beb-raquo">></span>
            <span class="beb-current"><{$artList.title}></span>
        </dd>
    </dl>
</div>
<div class="maxpart"> 
    <div class="maxleft-title">
        <div class="maxcontent_caption"><h1><{$artList.title}></h1></div>
        <div class="maxcontent_txt">
            <span>发布时间：<{$artList.modified|cdate}></span>
        </div>
    </div>
    <div class="maxdetail-content"><{$artList.content}></div>
    <div class="maxread">相关报价</div>
    <div class="maxarticles">
        <ul>
            <li><a href="#" target="_blank">09月24日江苏地区废铜价格</a></li>
            <li><a href="#" target="_blank">09月24日上海地区废铜价格</a></li>
            <li><a href="#" target="_blank">09月23日江浙沪废铜价格</a></li>
            <li><a href="#" target="_blank">09月23日江苏地区废铜价格</a></li>
            <li><a href="#" target="_blank">09月23日上海地区废铜价格</a></li>
            <li><a href="#" target="_blank">09月22日江浙沪废铜价格</a></li>
            <li><a href="#" target="_blank">09月22日江苏地区废铜价格</a></li>
            <li><a href="#" target="_blank">09月22日上海地区废铜价格</a></li>
            <li><a href="#" target="_blank">09月21日江浙沪废铜价格</a></li>
            <li><a href="#" target="_blank">09月21日江苏地区废铜价格</a></li>
            <li><a href="#" target="_blank">09月24日江苏地区废铜价格</a></li>
            <li><a href="#" target="_blank">09月24日上海地区废铜价格</a></li>
            <li><a href="#" target="_blank">09月23日江浙沪废铜价格</a></li>
            <li><a href="#" target="_blank">09月23日江苏地区废铜价格</a></li>
            <li><a href="#" target="_blank">09月23日上海地区废铜价格</a></li>
            <li><a href="#" target="_blank">09月22日江浙沪废铜价格</a></li>
            <li><a href="#" target="_blank">09月22日江苏地区废铜价格</a></li>
            <li><a href="#" target="_blank">09月22日上海地区废铜价格</a></li>
            <li><a href="#" target="_blank">09月21日江浙沪废铜价格</a></li>
            <li><a href="#" target="_blank">09月21日江苏地区废铜价格</a></li>
        </ul>
    </div>
</div>