<div class="maxPath">
    <dl class="basic-ex-breadcrumbs clearfix">
        <dt>当前位置：</dt>
        <dd>
            <a class="beb-nav" href="/index.php/market"><span>行情中心</span></a><span class="beb-raquo">></span>
            <span class="beb-current">废电子电器商家报价</span>
        </dd>
    </dl>
</div>
<div class="maxsection maxform"> 
    <div class="maxlist">
        <div class="maxcomon">
            <table class="item-tab" cellpadding="0" cellspacing="0" border="0">
                <tbody>
                    <tr>
                        <td class="iTab">产品名称</td>
                        <td class="iTab-1">价格</td>
                        <td class="iTab-2">所在地</td>
                        <td class="iTab-3">时间</td>
                        <td class="iTab-4">公司</td>
                    </tr>
                    <{foreach from=$offerList item=item key=key}>
                        <tr>
                            <td><a href="http://jiage.zz91.com/cdetail/374581.html" target="_blank"><{$item.title}></a></td>
                            <td><{$item.price}></td>
                            <td><{$item.area}></td>
                            <td><{$item.date}></td>
                            <td><a href="http://company.zz91.com/compinfo80910.htm" target="_blank"><{$item.company}></a></td>
                        </tr>
                    <{/foreach}>
               </tbody>
            </table>
        </div>
    </div>
</div>   
<div class="maxread">相关报价</div>
<div class="maxarticles">
    <ul>
        <li><a href="#" target="_blank">09月24日江苏地区废铜价格</a></li>
        <li><a href="#" target="_blank">09月24日上海地区废铜价格</a></li>
        <li><a href="#" target="_blank">09月23日江浙沪废铜价格</a></li>
        <li><a href="#" target="_blank">09月23日江苏地区废铜价格</a></li>
        <li><a href="#" target="_blank">09月23日上海地区废铜价格</a></li>
        <li><a href="#" target="_blank">09月22日江浙沪废铜价格</a></li>
        <li><a href="#" target="_blank">09月22日江苏地区废铜价格</a></li>
        <li><a href="#" target="_blank">09月22日上海地区废铜价格</a></li>
        <li><a href="#" target="_blank">09月21日江浙沪废铜价格</a></li>
        <li><a href="#" target="_blank">09月21日江苏地区废铜价格</a></li>
        <li><a href="#" target="_blank">09月24日江苏地区废铜价格</a></li>
        <li><a href="#" target="_blank">09月24日上海地区废铜价格</a></li>
        <li><a href="#" target="_blank">09月23日江浙沪废铜价格</a></li>
        <li><a href="#" target="_blank">09月23日江苏地区废铜价格</a></li>
        <li><a href="#" target="_blank">09月23日上海地区废铜价格</a></li>
        <li><a href="#" target="_blank">09月22日江浙沪废铜价格</a></li>
        <li><a href="#" target="_blank">09月22日江苏地区废铜价格</a></li>
        <li><a href="#" target="_blank">09月22日上海地区废铜价格</a></li>
        <li><a href="#" target="_blank">09月21日江浙沪废铜价格</a></li>
        <li><a href="#" target="_blank">09月21日江苏地区废铜价格</a></li>
    </ul>
</div>
<div class="maxlabel"><span>本文标签：</span></div>
<div class="maxstatement">免责声明:本信息仅供参考，东方循环网力求准确可靠，但不作为您投资决策的唯一因素!</div>