<form action="<{url action=topshop_ctl_rate_appeal@appeal}>" method="post" class="form-horizontal" data-validate-onsuccess="ajaxSubmitAppeal" role="form">
  <input type="hidden" name="rate_id" value="<{$rate.rate_id}>" >
  <h5>说明申诉理由</h5>
  <div class="form-group check-item">
    <label><input type="radio" name="appeal_type" required id="" value="APPLY_DELETE"> 删除该条评价</label>
    <label><input type="radio" name="appeal_type" required id="" value="APPLY_UPDATE"> 要求用户修改评价</label>
  </div>
  <{if $again || $rate.appeal_status == 'REJECT' }>
  <input type="hidden" name="is_again" value="true" >
  <{/if}>
  <div class="form-group comment">
    <textarea class="form-control" name="appeal_content" maxlength="300"   required placeholder="说明申诉理由"></textarea>
    <div class="letter-limit">至少5个字，还可以输入<span>300</span>字</div>
  </div>
  <div>
    <div class="imgs-key">举证仅限5张<span>（图片上传须在2MB以内）</span></div>
    <div class="multiple-upload">
        <div class="multiple-add" data-name="evidence_pic[]" data-limit="5" data-url="<{url action=topshop_ctl_shop_image@loadImageModal}>" ><i class="glyphicon glyphicon-plus"></i></div>
    </div>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary">提交申诉</button>
    <button type="button" class="btn btn-default form-cancel">取消申诉</button>
  </div>
</form>
<script>
  function ajaxSubmitAppeal (e) {
    var form = e.target;
    e.preventDefault();
    $.post(form.action, $(form).serialize(), function(rs) {
      if(rs.error) {
        $('#messagebox').message(rs.message);
        return;
      }
      if(rs.success) {
        $('#messagebox').message(rs.message, 'success');
        setTimeout(function(){location.href=rs.redirect;}, 3000);
      }
    });
  }

  $(function(){
    $('.form-cancel').click(function(){
      history.go(-1);
    });
  })
</script>
