<div class="panel-heading">
  <div class="text-center">
    <ul class="step-bar">
      <li <{if $info.status >= '0'}> class="on"<{/if}>>
        <div class="state">待处理</div>
        <i class="glyphicon glyphicon-chevron-right"></i>
      </li>
      <li <{if $info.status == '1' || $info.status == '2'}> class="on" <{/if}>>
        <div class="state">处理中</div>
        <i class="glyphicon glyphicon-chevron-right"></i>
      </li>
      <li <{if $info.status == '2'}> class="on" <{/if}> >
        <div class="state">已处理</div>
        <i class="glyphicon glyphicon-chevron-right"></i>
      </li>
      <li <{if $info.status == '3'}> class="on" <{/if}> >
        <div class="state">已驳回</div>
      </li>
    </ul>
  </div>
</div>
