<div class="maxM-right">
<div class="col-lg-12 box main_page">
<!--    <a class="btnp" href="<{url action=topc_ctl_member_supplyman@editGoods}>" style="cursor: pointer"><span>增加供应信息</span></a>-->
<{if !$reqsupplist}>
    <div class="no-content">
      <span class="symbol"><i class="icon icon-doc-flash"></i><span class="txt">没有我参与的供求信息</span></span>
    </div>
     <{else}>
<!--       <span class="num">企业可以发布<em>100</em>条，已发布<em><{$enquireCounts}></em>条，剩余<em><{100-$enquireCounts}></em>条</span> -->
      <table class="item-table table-goods">
          <colgroup>
            <col class="table-col-1">
            <col class="table-col-1">
            <col class="table-col-1">
            <col class="table-col-1">
            <col class="table-col-1">
            <col class="table-col-1">
            <col class="table-col-1">
            <col class="table-col-1">
          </colgroup>
        <thead>
            <tr>
              <td>操作</td>
              <td>供求类别</td>
              <td>品名</td>
              <td>分类</td>
              <td>有效时间</td>
              <td>联系人</td>
              <td>联系方式</td>
              <td>邮箱</td>
            </tr>
        </thead>
         <{foreach from=$reqsupplist item=enquire}>
            <tbody>
                <tr>
                <td>
                <{if $enquire.ifrequire == 1}>
                <a class="btnp" href="<{url action=topc_ctl_supply@index supply_id=$enquire.reqsupp_id type=1}>" style="cursor: pointer">
                <{else}>
                <a class="btnp" href="<{url action=topc_ctl_require@index require_id=$enquire.reqsupp_id type=2}>" style="cursor: pointer">
                <{/if}>
                <span>查看</span></a>
                </td>
                <td><{$enquire.listtype}></td>
                <td><{$enquire.variety_name}></td>
                <td><{$enquire.cat_name}></td>
                <td><{$enquire.effective_time}></td>
                <td><{$enquire.name}></td>
                <td><{$enquire.tel}></td>
                <td><{$enquire.email}></td>
                </tr>
            </tbody>
          <{/foreach}>
      </table>
        <{/if}>
        </div>
</div>