<div class="tableform">
  <form id="sysshop_form" name="sysshop_form" action="?app=sysshop&ctl=admin_seller&act=saveSelfUser"  method="post">
    <div class="division">
      <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody>
          <tr>
            <th><em class="red">自营用户信息</em></th>
          </tr>
          <tr>
            <th><{t}>用户登录名：<{/t}></th>
            <td><{input type="text" vtype="required"  name="seller[login_account]"}></td>
          </tr>
          <tr>
            <th><{t}>用户登录密码：<{/t}></th>
            <td><{input type="password" vtype="required"  name="seller[login_password]"}> </td>
          </tr>
          <tr>
            <th><{t}>确认密码：<{/t}></th>
            <td><{input type="password" vtype="required"  name="seller[psw_confirm]"}>  </td>
          </tr>
          <tr>
            <th><{t}>选择店铺：<{/t}></th>
            <td>
              <select name="seller[shop_id]" class="form-control">
                <{foreach from=$shopList item=shopdata key=key}>
                <option value="<{$shopdata.shop_id}>"><{$shopdata.shop_name}></option>
                <{/foreach}>
              </select>
            </td>
          </tr>
          <tr>
            <th><{t}>用户姓名：<{/t}></th>
            <td><{input type="text" vtype="required"  name="seller[name]"}> </td>
          </tr>
          <tr>
            <th><{t}>手机号码：<{/t}></th>
            <td><{input type="digits" vtype="mobile"  name="seller[mobile]"}> </td>
          </tr>
          <tr>
            <th><{t}>邮箱：<{/t}></th>
            <td><{input type="email" vtype="email"  name="seller[email]"}> </td>
          </tr>
        </tbody>
      </table>
    </div>

    <table cellspacing="0" cellpadding="0" class="table-action">
      <tbody>
        <tr valign="middle">
          <td>
            <{assign var="___c"  value='确定退出?'|t:'sysshop'}>

            <{button label="保存并关闭窗口"|t:'sysshop' class="btn-primary" type="button"  onclick="submitForm(event,2)"}>

            <{button label="关  闭"|t:'content' class="btn-secondary" type="button" isclosedialogbtn="1"}>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>

<script>
  var submitForm = function (event,sign){
    var _form=$('sysshop_form');
    switch (sign){
      case 1:
        var target={
          onComplete:function(){
                       location.reload();
                     }};
        break;
      case 2:
        var target={
          onComplete:function(rs){
                       if(rs&&!!JSON.decode(rs).success){
                           window.finderGroup['<{$env.get.finder_id}>'].refresh();
                           _form.getParent('.dialog').retrieve('instance').close();
                       }
                     }};
        break;
    }
    _form.store('target',target);
    if(confirm('是否保存?')) {
      _form.fireEvent('submit',new Event(event));
    }
  };

</script>
