.bold{font-weight:bold;}
.maxDropbox .maxContent{display:block}
/*index==================================================*/
.maxmain{background:#ebebeb;padding-top:1px;padding-bottom:1px;}
.maxAllwrap {width:1200px;margin:9px auto 15px auto;position:relative;overflow: hidden;}
.maxFlash{padding-left:230px;width:630px;}
.maxFlash .slider{width:630px; position:relative;}
.maxFlash .slider-pic{width:630px; height:403px;overflow:hidden;position:relative;}
.maxFlash .slider-pic li{width:704px; height:278px;}
.maxFlash .slider-pic li img{display:block;}
.maxFlash .switchable-nav{position:absolute;bottom: 8px;text-align: center;padding-left:10px;}
.maxFlash .switchable-nav a{display:inline-block;width:17px;height:17px;font-size:12px;color:#fff;background:#ff5a28;}
.maxFlash .switchable-nav a.active{color:#ff5a28;background:#fff;}
.maxnow{float:left;width:221px;}
.maxad{padding-top:10px;overflow:hidden;}
.maxad .ad-shopmax-group{float:left;width:978px;border:1px solid #dbd2c0;border-left:0px;}
.maxad .ad-shopmax-group li{float:left;border-left:1px solid #ddd;}
.maxwR-index{width:316px;overflow:hidden;position: absolute;right: 0px;top: 0px;border: 1px solid #e1ca96;background:#fff7e0;padding:6px;}
.maxwR-index .maxsubmenu li{float:left;height:22px;border-right:1px solid #ab8c49;width:157px;}
.maxwR-index .maxsubmenu li a{display:block;color: #fff;font-weight:bold;text-align:right;padding-right:28px;}
.maxwR-index .maxsubmenu li a:hover{color:#f8e191;}
.maxwR-index .maxsubmenu li span{line-height:23px;cursor: pointer;font-family:microsoft yahei}
.maxwR-index .maxsubmenu li i{display:block;width:48px; height:30px;position:absolute; background: url(maxsub.png) no-repeat -4px -10px;}
.maxwR-index .maxsubmenu{background:#9b7520;padding:5px 0px;}
.maxwR-index .maxsubmenu .item-2 i{background-position:-4px -65px;}
.maxwR-index .maxbidding{margin-top:8px;}
.maxwR-index .maxbidding li{float:left;margin-left:5px;}
.maxwR-index .maxbidding li.item-1{margin-left:0px;}
.maxwR-index .maxbidding li :hover img{filter:Alpha(opacity=80);-moz-opacity:0.90;opacity:0.90;}
.maxfree h3{font-size:16px;color:#845800;line-height:32px;font-family:microsoft yahei;padding-left:10px}
.maxrelease{border:1px solid #e1ca96;margin-bottom:6px;}
.maxrelease .textarea {width:314px;height:85px;border: 0;resize: none;outline: 0;color: #333;font-size: 12px;overflow: hidden;line-height:20px;padding:10px 6px;} 
.maxrelease .SearchBar{border-top:1px solid #ddd;overflow:hidden;}
.maxrelease .keywords{float:left;width:240px;height:38px;border:0px;padding:0px 6px;box-sizing:border-box;}
.maxrelease .btn_search{float:left;width:70px;height:34px;border:0px;background:#f8e191;color:#845800;font-weight:bold;font-size:15px;text-align:center;font-family:microsoft yahei;cursor:pointer;}
/*product-block==================================================*/
.maxprow{width:1200px; overflow:hidden;position:relative;margin: 0 auto 18px auto;}
/*zuo bian==================================================*/
.maxprow .max-Tabs-top{height:40px; line-height:40px;}
.maxprow .max-Tabs-top ul{float:left;width:200px;}
.maxprow .max-Tabs-top li{width: 50%;float:left;text-align: center;cursor: pointer;font-size: 16px;color:#8b8b8b;font-family:microsoft yahei;}
.maxprow .max-Tabs-top li.active{color:#333;font-weight:bold;border-bottom:2px solid #c69e45}

.maxprow .maxPro-C{float:left;width:858px;min-height: 354px;position: relative;overflow: hidden;}
.maxprow .maxPro-C .max-Tabs-top{height: 40px;border-bottom: 2px solid #c69e45;overflow: visible;}
.maxprow .maxPro-C .max-Tabs-top ul{float: left;width: 223px;}
.maxprow .maxPro-C .max-Tabs-top .maxKeys{float: right;}
.maxprow .maxPro-C .max-Tabs-top .maxKeys a{padding: 0 6px;color: #c69e45;font-family: SimSun;}
.maxprow .maxPro-C .max-Tabs-top .maxKeys a:hover{color:#f60}
.maxprow .maxPro-C .maxcomon li{float: left;width: 100%;background:#fff;margin-top:20px;}
.maxprow .maxPro-C .maxcomon li.last{border-bottom:0;}
.maxprow .maxPro-C .maxinfo{position:relative;}
.maxprow .maxPro-C .maxpreview{float:left;padding-right: 10px;}
.maxprow .maxPro-C .maxpreview ul{overflow:hidden}
.maxprow .maxPro-C .maxpreview ul li{float:left;width:72px;margin-right:2px;margin-top:2px;}
.maxprow .maxPro-C .maxpic{width:220px;height:152px;}
.maxprow .maxPro-C .maxpic i{display:block;width:57px;height:45px;background:url(maxiocn.png) no-repeat 0px 0px;position:absolute;top:0px;}
.maxprow .maxPro-C .maxpic img{display:block;}
.maxprow .maxPro-C .max-left{float:left;padding-top:14px;color:#999}
.maxprow .maxPro-C .max-left .item-1{height: 26px;font-size: 18px; color:#333;font-family: microsoft yahei;}
.maxprow .maxPro-C .max-left .item-1 span{float:left;width:200px;height:22px;line-height:22px;overflow:hidden;}
.maxprow .maxPro-C .max-left .item-1 em{color:#f60;font-family:microsoft yahei}
.maxprow .maxPro-C .max-left .maxrz{float:left;padding-left:8px; overflow:hidden;position:relative; top:-2px;}
.maxprow .maxPro-C .max-left .maxrz a{display:block;float:left;padding-right:5px;}
.maxprow .maxPro-C .max-left .maxrz img{display:block}
.maxprow .maxPro-C .max-right{position:absolute;right:0px;width: 190px;top: 0;height:203px;padding-left:30px; color:#999;background-color: #fff7e0;}
.maxprow .maxPro-C .max-right .item-1 i{color:#f60;font-size: 22px;position: relative;top: 4px;}
.maxprow .maxPro-C .max-right .item-1 s{font-weight:normal;text-decoration: none;font-size: 16px;}
.maxprow .maxPro-C .max-right .item-1{ padding-top:30px;line-height: 23px;}
.maxprow .maxPro-C .max-right .item-1 em{color:#666}
.maxprow .maxPro-C .max-right .item-2 i{color:#f60}
.maxprow .maxPro-C .max-right .item-3{padding-top: 8px;position: relative;left: -8px;}
.maxprow .maxPro-C .max-right .item-3 a{display:block;width: 180px; height35px;text-align:center;line-height:35px;font-size:16px;font-family:microsoft yahei;color:#fff;background: url(maxmain.png) -190px 0;}
.maxprow .maxPro-C .maxtime{padding-top:50px;}
.maxprow .maxPro-C .maxtime span{display:block;padding-left: 17px;background: url(maxmain.png) no-repeat -487px -41px;}
.maxprow.f1 .maxPro-C .icon{position:absolute;width:0;height:0;left: -19px;top:50%;margin-top: -6px;border-style:solid;border-width: 10px;border-color: transparent #fff7e0  transparent transparent;}
.maxprow .maxPro-C .max-left .item-4{margin-top:5px;}
.maxprow .maxPro-C .max-left .item-4 h2{font-size:14px;font-weight:normal;line-height:25px;color:#333;}
.maxprow .maxPro-C .max-left .maxton em{display:block;float:left;width:150px;height:18px;overflow:hidden;}
.maxprow .maxPro-C .max-left .maxton span{display:block;float:right;width:80px;height:18px;overflow:hidden;}
.maxprow .maxPro-C .max-left .item{width:300px;display:block;overflow:hidden;}
.maxprow .maxPro-C .max-left .item-2 .maxcompany{float:left;}
.maxprow .maxPro-C .max-left .item-2 .maxcompany a:hover{text-decoration:underline;color:#0072d2;}
.maxprow .maxPro-C .max-left .item-2 .maxcompany span{color:#0072d2}
/*zhongjian==================================================*/
.maxprow .maxPro-L{float:right;width:320px;overflow: hidden;position: relative;background:#fff;margin-bottom:12px;padding-bottom:10px;}
.maxprow .maxPro-L .max-Tabs-top li{font-size:15px;}
.maxprow .maxPro-L .max-Tabs-body .maxcomon li{height: 32px;}
.maxprow .maxPro-L .max-Tabs-body .maxcomon ul{}
.maxprow .maxPro-L .max-Tabs-body .maxcomon li.active{height: 93px;border-bottom: 1px solid #e4e4e4;border-top: 1px solid #e4e4e4;background-color: #fff7e0;}
.maxprow .maxPro-L .max-Tabs-body .maxcomon li.active h6{ padding-left: 13px; font-size: 14px; padding-top: 14px; font-weight: bold;}
.maxprow .maxPro-L .max-Tabs-body .maxcomon li h6 em{color:#c69e45;padding-right:5px;}
.maxprow .maxPro-L .max-Tabs-body .maxcomon li h6{font-weight: normal;padding-left: 14px;padding-top:8px;}
.maxprow .maxPro-L .max-Tabs-body .maxcomon li h6 a{color:#999;}
.maxprow .maxPro-L .max-Tabs-body .maxcomon li h6 a:hover{color:#f60;}
.maxprow .maxPro-L .max-Tabs-body .maxcomon li .maxinfo{display:none;color: #999;padding: 9px 0px 0px 12px;line-height: 23px;}
.maxprow .maxPro-L .max-Tabs-body .maxcomon li.active .maxinfo{display:block}
.maxprow .maxPro-L .max-Tabs-body .maxcomon li .maxright{padding-top: 7px;padding-right: 18px;}
.maxprow .maxPro-L .max-Tabs-body .maxcomon li i{color:#f60;}
.maxprow .maxPro-L .max-Tabs-body .maxcomon li .maxright a{display:block;color:#f60;width: 71px;height: 32px;line-height: 32px;text-align: center;background: url(maxmain.png) no-repeat 0 -253px;font-family: SimSun;font-weight: bold;}
.maxprow .max-Tabs-top .maxMorelink li.x{float:left;}
.maxprow .max-Tabs-top .maxMorelink a{width:auto;font-size: 12px;text-align: center;color: #c69e45;padding-left:13px;padding-right:9px;}
.maxprow .max-Tabs-top .maxMorelink a.more{background:url(maxh.jpg) no-repeat -3px -2px;}
.maxprow .max-Tabs-top .maxMorelink a:hover{font-weight:normal;color:#f60;}
.maxprow .max-Tabs-top .maxMorelink a.active{font-weight:normal;border-bottom:0px;}
.maxprow .max-Tabs-top .maxMorelink {float:right;width:120px;}

.maxprow .maxPro-L .maxtitle-top{overflow:hidden;height:40px;line-height:40px;}
.maxprow .maxPro-L .maxtitle-top h3{float:left;font-size: 15px;padding-left:10px;color:#333;font-family:microsoft yahei;}
.maxprow .maxtitle-top  .maxMorelink a{float:left;font-size: 12px;text-align: center;color: #c69e45;padding-left:13px;padding-right:9px;}
.maxprow .maxtitle-top  .maxMorelink a.more{background:url(maxh.jpg) no-repeat -2px 10px;}
.maxprow .maxtitle-top  .maxMorelink {float:right;}
.maxprow .maxtitle-top  .maxMorelink a:hover{color:#f60;}
.maxprow .maxtitle-Tabs{height:33px; line-height:33px;border-bottom:1px solid #c69e45;margin-left:10px}
.maxprow .maxtitle-Tabs li{width:23%;float:left;text-align: center;cursor: pointer;color:#8b8b8b;font-family:microsoft yahei;}
.maxprow .maxtitle-Tabs li.active{height:33px;background:#fff;color:#333;font-weight:bold;border:1px solid #c69e45;color: #c69e45;border-bottom:0px;}
.maxprow .max-hot .max-Tabs-body .maxcomon li{position:relative;}
.maxprow .max-hot .max-Tabs-body .maxcomon li.active{height: 93px;border:0px;background-color: #fff;}
.maxprow .max-hot .max-Tabs-body .maxcomon li.active i{background-color:#c69e45;}
.maxprow .max-hot .max-Tabs-body .maxcomon li i{display:block; height:18px; width: 18px;line-height:18px;background-color:#64696f;position: absolute;left:12px;top:9px;color: #fff;text-align: center;}
.maxprow .max-hot .max-Tabs-body .item-pic{float:left;border:1px solid #c69e45}
.maxprow .max-hot .max-Tabs-body .gel-price {padding-left:10px;line-height:20px;}
.maxprow .max-hot .max-Tabs-body .gel-price em{color: #f60;font-weight:bold;}
.maxprow .max-hot .max-Tabs-body .maxcomon li{border-bottom:1px dashed #dfdfdf;}
.maxprow .max-hot .max-Tabs-body .maxcomon li.last{border-bottom:0px; }
.maxprow .max-hot .max-Tabs-body .maxcomon li.active h6{ padding-left: 10px; font-size: 12px; padding-top:0px; font-weight:normal;}
.maxprow .max-hot .max-Tabs-body .maxcomon li.active h6 a{color:#444;}
.maxprow .max-hot .max-Tabs-body .maxcomon li.active h6 a:hover{color:#f60;}
.maxprow .max-hot .max-Tabs-body .maxcomon li .maxright{float:left;padding-top:5px;padding-right:0px;padding-left:10px;}
.maxprow .max-hot .max-Tabs-body .maxcomon li.active h3{display:none}
.maxprow .max-hot .max-Tabs-body .maxcomon li h3{font-size:12px;font-weight:normal;padding-left:35px;line-height:35px;}
/*zixun==================================================*/
.maxcon{float:right;width:320px;background:#fff;border:1px solid #dfdfdf;}
.maxcon .max-top {padding-top:13px;overflow:hidden;}
.maxcon .max-top h3{float:left;line-height:23px;padding-left:15px;font-size:15px;font-weight:bold;font-family:microsoft yahei;}
.maxcon .max-top a{float:right;color: #c69e45;padding-right:15px;}
.maxcon .max-top a:hover{color: #f60;}
.maxcon .max-body{line-height:35px;padding:0px 15px 10px 15px;}
.maxcon .max-body li{border-bottom:1px dashed #dfdfdf;}
.maxcon .max-body li.last{border-bottom:0px;}
.maxcon .max-body li span{color: #c69e45;padding-right:3px;}