<div class="address">
  <div class="ui-mask"></div>
  <header>
    <div class="list-hd">
      <div class="backto icon-back ">
        <input type="button" name="returnBcak" onclick="history.back()">
      </div>
      <div class="tit">我的收货地址</div>
      <{if $ifedit}>
      <div class="edit"><a href="<{url action=topm_ctl_cart@getAddrList ifedit=true}>">编辑管理</a></div>
      <{/if}>
    </div>
  </header>
  <div class="main" id="main">
    <{foreach from=$userAddrList item=addrList}>
    <a href="<{url action=topm_ctl_cart@editAddr addr_id=$addrList.addr_id}>" class="address-info cur">
      <table>
        <tr class="name">
          <td class="con"><{$addrList.name}> <i class="r"><{$addrList.mobile}></i></td>
        </tr>
        <tr class="ads">
          <td class="con"><i class="defualt"><{if $addrList.def_addr}>[默认地址]<{/if}></i> <{$addrList.area|region}>&nbsp;<{$addrList.addr|cut:75}></td>
        </tr>
      </table>
    </a>
    <{/foreach}>
    <div class="add-action">
      <a href="<{url action=topm_ctl_cart@editAddr}>" class="ui-btn ui-btn-warning"><i class="icon-add"></i>添加新地址</a>
    </div>
  </div>
</div>

<script>
  $('.address-info').click(
      function(){
        $(this).addClass('cur').siblings().removeClass('cur');
      }
      );

  $('.action-select-address').on('change', function(e) {
    var form = $('#seladdr_form');
    form[0].action += '?' + localStorage.getItem('_cart_params');
    form.submit();
  });
</script>

