<form id="propForm" class="tableform" action="?app=sysnotice&ctl=admin_affiche&act=typesave" method="POST">
<{input type="hidden"  name="type_id"  value=$noticetypeInfo.type_id }>
  <div class="division">
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <th><em class="red">*</em><{t}>公告类型名称：<{/t}></th>
        <td><{input type="text" name="type_name" vtype="required"  value=$noticetypeInfo.type_name }></td>
      </tr>
      </table>
   </div>
   <div class="table-action">
    <{button label="保存"|t:'sysexpert' type="submit" class="btn-primary"}>
  </div>
</form>

<script type="text/javascript">
$('propForm').store('target',
{
  onComplete:function(rs)
   {
   if(!rs) return;
   rs = JSON.decode(rs);
   if(rs.success)
     {
      if(window.finderGroup) window.finderGroup['<{$env.get.finder_id}>'].refresh();
      if($('propForm').getParent('.dialog'))
        {
          var Dlg = $('propForm').getParent('.dialog').retrieve('instance');
          if(Dlg.update)
            {
             Dlg.update.retrieve('instance').initContent();
            }
          Dlg.close();
        }
     }
   }
});
  
</script>
