<form action="<{url action=topshop_ctl_trade_list@closeTrade}>" method="post" class="bg-white" role="form" id="cancel_form" data-validate-onsuccess="ajaxSubmit">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title" id="myModalLabel">订单取消</h4>
  </div>
  <div class="modal-body">
    <div class="order-cancel">
      <i class="icon-alert"></i>
      <div class="form-horizontal">
        <div class="form-group">
          <label for="" class="form-label">订单号：</label>
          <span class="form-act"><a class="cancel-trade-tid" href=""><{$tid}></a></span>
        </div>
        <div class="form-group">
          <label for="" class="col-sm-4 control-label"><em class="text-red">*</em>取消原因</label>
          <div class="col-sm-8">
            <input type="hidden" name="tid" value="<{$tid}>" class="cancel-tid">
            <select name="cancel_reason" id="form_cancel" class="form-control" required>
              <option value="">请选择关闭理由</option>
              <{foreach from=$reason.shopuser item=item key=key}>
              <option value="<{$key}>"><{$item}></option>
              <{/foreach}>
            </select>
          </div>
        </div>
        <div class="form-group" id="other" style="display:none;">
          <textarea name="other_reason" class="form-control" rows="3" maxlength="300" placeholder="请填写取消订单原因"></textarea>
        </div>
        <div class="form-group">
          <p class="text-orange">友情提示：<br>订单取消后将无法恢复，请务必与顾客沟通，<br>您是否确认取消？</p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer text-center">
    <button type="submit" class="btn btn-primary">确认取消</button>
    <button type="button" class="btn" data-dismiss="modal">暂不取消</button>
  </div>
</form>

<script>
$('#cancel_form').Validator({
    icons: {
        valid:      'icon icon-checkmark-a',
        invalid:    'icon icon-alert',
        validating: 'icon icon-loading-c'
    }
});

function ajaxSubmit (e) {
  var form = e.target;
  e.preventDefault();
  $.post(form.action, $(form).serialize(), function(rs) {
    if(rs.error) {
      $('#messagebox').message(rs.message);
      return;
    }
    if(rs.success) {
      $('#messagebox').message(rs.message, 'success');
    }
    if(rs.redirect) {
      location.href = rs.redirect;
    }
  });
}
$('#form_cancel').on('change',function(){
  if(this.value == "other"){
    $('#other').show().find('textarea')[0].required = true;
  }
  else {
    $('#other').hide().find('textarea')[0].required = false;
  }
});
</script>
