<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">特殊情况订单取消申请</h4>
</div>
<div class="modal-body">
  <div class="form-horizontal form-refund">
    <div class="row">
      <label for="" class="col-sm-4 control-label">订单编号：</label>
      <div class="col-xs-8">
        <a href="">31200000000000000</a>
      </div>
    </div>
    <div class="row">
      <label for="" class="col-sm-4 control-label">订单状态：</label>
      <div class="col-sm-8">
        已完成
      </div>
    </div>
    <div class="row">
      <label for="" class="col-sm-4 control-label">下单时间：</label>
      <div class="col-sm-8">
        2015-02-02 15:00
      </div>
    </div>
    <div class="row">
      <label for="" class="col-sm-4 control-label">商家名称：</label>
      <div class="col-sm-8">
        xxxx
      </div>
    </div>
    <div class="row">
      <label for="" class="col-sm-4 control-label">会员名称：</label>
      <div class="col-sm-8">
        xxx
      </div>
    </div>
    <div class="row">
      <label for="" class="col-sm-4 control-label">收货信息：</label>
      <div class="col-sm-8">
        用户名 13100000000<br>
        上海徐汇区桂林路398号
      </div>
    </div>
    <div class="row">
      <label for="" class="col-sm-4 control-label">取消原因：</label>
      <div class="col-xs-8">
        <select name="" required="" data-validate-field="">
          <option value="">其他原因</option>
        </select>
        <div><textarea name="" id="" cols="30" rows="5"></textarea></div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary">提交平台审核</button>
  <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
</div>
