<div class="tableform">
<form action="?app=sysshoppubt&ctl=biddings&act=check" method="post"> 
是否通过审核？<br/><br/> 
<label><input name="is_through" id="yes" type="radio" value="1" />是 </label> 
<label><input name="is_through" id="no" type="radio" value="2" />否 </label> <br/><br/>
<div id="showtime" style="display:none;">
	<span class="max-i-left">看样结束时间：</span><!-- 
    <input type="datetime-local" name="seegoods_stime"> -->
    <{input type="date" name="seegoods_stime" class="x-input" maxlength="20" size="44"}>
	</span>
</div>
<h3>回馈意见：</h3>
<br/>
<textarea cols="80" rows="5" name="text"></textarea>
<input type="hidden" name="ideas" value="<{$id}>"><br/><br/>
<input type="submit" value="保存">
<input type="hidden" name="biddings_id" value="<{$sprodrelease_id}>">
<input type="hidden" name="sprodrelease_uniqid" value="<{$sprodrelease_uniqid}>">
</form> 
</div>
<script>
	$('no').addEvent('focus', function(e){
    $('showtime').hide();
});
	$('yes').addEvent('focus', function(e){
    $('showtime').show();
});

</script>