
    <div class="maxPath">
    <dl class="basic-ex-breadcrumbs clearfix">
            <dt>当前位置：</dt>
            <dd><a class="beb-nav" href="./"><span>首页</span></a><span class="beb-raquo">></span>
            <a class="beb-nav" href="<{url action=topc_ctl_case@index}>"><span>解决方案</span></a>
            <span class="beb-raquo">></span>
            <span class="beb-current"><{$essayRow.title}></span>
            </dd>
    </dl>
    </div>

<div class="maxmain">
<!-- 左面板块 -->
        <div class="maxleft maxcelebrity">
		<div class="maxdetail">
        <div class="maxdetail-title">
              <h2><{$essayRow.title}></h2>
        </div>
              <div class="maxdetail-time">
                 <!--   <{$essaycatRow.essaycat}><br /> -->
                   <{$essayRow.pubtime|date_format:'%Y-%m-%d'}>
              </div>
              <div class="maxdetail-content">
                   <p><{$essayRow.context}></p>
			  </div>
        </div>   
		</div>
</div>