<form id="propForm" class="tableform" action="?app=sysplan&ctl=admin_literary&act=save" method="POST">
<{input type="hidden"  name="literary_id" id="literary_id" value=$literaryInfo.literary_id }>
  <div class="division">
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <th><em class="red">*</em><{t}>案例名称：<{/t}></th>
        <td><{input type="text" name="title" vtype="required"  value=$literaryInfo.title }></td>
      </tr>
      <tr>
        <th><em class="red">*</em><{t}>作者：<{/t}></th>
        <td><{input type="text" name="author" vtype="required"  value=$literaryInfo.author }></td>
      </tr>
      <!-- <tr>
        <th><em class="red">*</em><{t}>价值提升(百分比)：<{/t}></th>
        <td><{input type="text" name="promote" vtype="required"  value=$literaryInfo.promote }></td>
      </tr>
      <tr>
        <th><em class="red">*</em><{t}>环保贡献(星数)：<{/t}></th>
        <td>
          <select name="literarytarget_id">
          <option value="" ><{t}>请选择星数<{/t}></option>
            <{foreach from=$literarytargetList item=cats}>
              <option value="<{$cats.literarytarget_id}>"><{$cats.literarytarget}></option>
            <{/foreach}>
          </select>
        </td>
      </tr> -->
      <tr>
      <th><{t}>发布时间：<{/t}></th>
        <td><input type="datetime-local" name="pubtime"></td>
      </tr>
      <tr>
        <th><!-- <em class="red">*</em> --><{t}>案例类型：<{/t}></th>
        <td>
          <select name="literarycat_id">
          <option value="" ><{t}>请选择类型<{/t}></option>
            <{foreach from=$literarycatList item=cats}>
              <option value="<{$cats.literarycat_id}>"><{$cats.literarycat}></option>
            <{/foreach}>
          </select>
        </td>
      </tr>
      <tr>
        <th><!-- <em class="red">*</em> --><{t}>案例分类：<{/t}></th>
        <td>
          <select name="literaryclass_id">
          <option value="" ><{t}>请选择分类<{/t}></option>
            <{foreach from=$literaryclassList item=cats}>
              <option value="<{$cats.literaryclass_id}>"><{$cats.literaryclass}></option>
            <{/foreach}>
          </select>
        </td>
      </tr>
      <tr>
        <th><!-- <em class="red">*</em> --><{t}>案例目标：<{/t}></th>
        <td>
          <select name="literarytarget_id">
          <option value="" ><{t}>请选择目标<{/t}></option>
            <{foreach from=$literarytargetList item=cats}>
              <option value="<{$cats.literarytarget_id}>"><{$cats.literarytarget}></option>
            <{/foreach}>
          </select>
        </td>
      </tr>
      <tr>
          <th><{t}>是否发布：<{/t}></th>
          <td>
            <input type="radio" name ="towhere" value="0" class="act-status" checked>否
            <input type="radio" name ="towhere" value="1" class="act-status">是
          </td>
      </tr>
      <tr>
      <th><{t}>案例列表图片：<{/t}></th>
      <td>
        <{input type="image" name='literary_logo' value=$literaryInfo.literary_logo width=30 height=30}>
        <span class="notice-inline span_class">
          <{t}>请添加你所需要的案例列表图：120*80。<{/t}></span>
      </td>
      </tr>
      <tr>
        <th><{t}>案例摘要(限80字数)：<{/t}></th>
        <td><{input type="textarea" maxlength="80" style="resize:none;width:500px;height:50px;" name="abstract" vtype="required"  value=$literaryInfo.abstract }></td>
      </tr>
       <tr>
        <th><em class="red">*</em><{t}>案例内容：<{/t}></th>
        <td><{input type="html" name="context" vtype="required"  value=$literaryInfo.context maxlength='2000'}></td>
      </tr>
    </table>
   </div>
   <div class="table-action">
    <{button label="保存"|t:'sysplan' type="submit" class="btn-primary"}>
  </div>
</form>

<script type="text/javascript">
$('propForm').store('target',
{
  onComplete:function(rs)
   {
   if(!rs) return;
   rs = JSON.decode(rs);
   if(rs.success)
     {
      if(window.finderGroup) window.finderGroup['<{$env.get.finder_id}>'].refresh();
      if($('propForm').getParent('.dialog'))
        {
          var Dlg = $('propForm').getParent('.dialog').retrieve('instance');
          if(Dlg.update)
            {
             Dlg.update.retrieve('instance').initContent();
            }
          Dlg.close();
        }
     }
   }
});

 function getRadioBoxValue(radioName, radiovalue)  
  {  
    var obj = document.getElementsByName(radioName);
    for(i = 0; i < obj.length; i++)
    {  

      if(obj[i].value == radiovalue)
      {  
        obj[i].checked = true;
      }  
    }
    
    return true;
  }
getRadioBoxValue("towhere","<{$literaryInfo.towhere}>");




</script>
