body {color:#666; font:12px/150% Arial,Verdana,"ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¥ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â®ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¹ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¤ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â½ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦ÃƒÂ¢Ã¢â€šÂ¬Ã…â€œb8b\4f53";min-width:1200px;word-break:break-all;}
ul, ol,p,h2{list-style: none;margin: 0;padding: 0;}
a {text-decoration:none;color:#000; }
a:hover{color:#f60; }
.maxMenu-r .current{background:#39654e;  color: #fffde2;}
.maxfull{background:#f8f8f8;}
/* service*/
.maxmain{ width:1200px; margin:10px auto 0px auto;overflow:hidden;padding-bottom:30px;}
.maxmain_index{overflow:hidden;}
.maxPath{width:1200px;margin:auto;overflow:hidden;min-height:20px;padding-top:10px;}
.basic-ex-breadcrumbs{height:30px;line-height:30px;mfont-weight:normal;padding-left:0px;}
.basic-ex-breadcrumbs .beb-current{font-weight:normal;color: #f60;padding:0 8px 0 0px;}
.basic-ex-breadcrumbs a{padding:0 8px 0 0px;display:inline-block;}
.basic-ex-breadcrumbs a:hover span{color:#f60;}
.basic-ex-breadcrumbs dt{padding:0 8px;padding-left: 0;float: left;}
.basic-ex-breadcrumbs .beb-raquo{padding-right:5px;}
/*left*/
.maxleft{float:left;width:920px;border:1px solid #ddd;background:#fff;padding-bottom:30px;}
.maxresources{margin-top:25px;}
.maxresources h3{font-size:24px;line-height:35px;font-family: microsoft yahei;font-weight:normal;color:#333;text-align:center;}
.maxcase{margin-top:25px;}
.maxcase .maxservice .maxservice-title{clear: both;overflow: hidden;background:url(maxline.jpg) repeat-x 0px 10px;margin-right:28px;}
.maxcase .maxservice h3{float:left;padding-right:15px;background-color:#fff;font-size:18px;font-family: microsoft yahei;font-weight:normal;color:#333;border-left:10px solid #c69e46;padding-left:8px;} 
.maxcase .maxservice .maxcompay{padding:20px;overflow:hidden;}
.maxcase .maxservice .maxcompay img{float:left;width:210px;}
.maxcase .maxservice .maxcompay .maxsurvey{float:left;width:660px;margin-left:10px;}
.maxcase .maxservice .maxcompay .maxsurvey p{padding-right:0px;}
.maxcase .maxservice .maxcompay p{color:#686868;font-size:14px;line-height:25px;padding:0px 10px;text-indent:30px;}
.maxcase .maxservice .maxpic{text-align:center;margin:20px 0;}
.maxcase .maxservice .maxtouch{padding:20px;}
.maxcase .maxservice .maxtouch p{color: #333;font-size:14px;line-height:35px;padding:0px 20px;}

 /* right*/
.maxright{float:right;width:265px;}
.maxPro-L{width: 263px;border: 1px solid #ddd;background:#fff;margin-bottom:12px;padding-bottom:10px;}
.maxPro-L .max-top{height:39px;line-height:39px;font-size:16px;font-family:microsoft yahei;margin:0px 8px;padding-left:15px;color: #666;overflow: hidden;border-bottom: 1px solid #e4e4e4;}
.max-certification ul{overflow: hidden; padding: 6px 0;}
.max-certification li{float:left}
.max-certification li img{display:block}
.max-certification .max-body{margin: 0 auto;width: 230px;}
.max-service a{display: inline-block;width:90px;white-space: nowrap;padding-left:10px;color: #666;}
.max-service a:hover{color:#f60}
.max-service a.now{color:#f60;}
.max-service .max-body{line-height: 25px;padding:15px;}

.maxPro-C{width:263px;border: 1px solid #ddd;background:#fff;margin-bottom:12px;}
.maxPro-C .max-top{height:39px;line-height:39px; font-size: 16px;font-family:microsoft yahei;margin:0px 8px;padding-left: 15px;color: #666;overflow: hidden;border-bottom: 1px solid #e4e4e4;}
.maxPro-C .max-ad{display:block;}
.max-brand ul{padding:0px 2px;}
.max-brand li{float:left;width: 128px;border-bottom:2px solid #f8f8f8;}
.max-brand li:nth-child(2n+1){border-right:2px solid #f8f8f8;}
.max-brand img{width:100%;}

.maxPro-R {border: 1px solid #ddd;background:#fff;padding-bottom:30px;}
.maxPro-R .maxhot-title h2{font-size:16px;font-weight:normal;height:39px;line-height: 39px;margin:0px 8px;padding-left:15px;border-bottom: 1px solid #e4e4e4}
.maxPro-R .item2 i{display: inline-block;width: 17px;height: 16px;overflow: hidden;line-height: 100px;text-indent: -999px; background: url(maxmain.png) no-repeat -185px -59px;position: relative;top: 4px;}
.maxPro-R .item1 em{font-size:15px;color:#f60;}
.maxPro-R .item2 i.star{background-position: -211px -59px;}
.maxPro-R  .max-pic{display:none;float:left;}
.maxPro-R  .active .max-pic{display:block;}
.maxPro-R  li .max-info{line-height:25px;color: #999;}
.maxPro-R  li .max-info h6{font-weight:normal; font-size:14px}
.maxPro-R  li{padding:12px 10px;overflow:hidden;border-bottom: 1px dotted #e4e4e4;height: 71px;}
.maxPro-R  li.active{height:auto}
.maxPro-R .active .max-info{float:left;width: 145px;padding-left:10px;line-height: 16px;overflow: hidden;}
.maxPro-R .active .max-info h6{font-weight:normal;font-size:15px;line-height:20px;margin-bottom: 5px;height:40px;overflow:hidden;font-family: microsoft yahei;}



 

