<div class="search-shop">
  <a class="search-shop-pic" href="<{url action=topc_ctl_shopcenter@index shop_id=$screen.shopInfo.shop_id}>"><img src="<{$screen.shopInfo.shop_logo|storager}>" alt=""></a>
  <div class="search-shop-txt">
    <div class="search-shop-title"><{$screen.shopInfo.shop_name}></div>
    <div><{$screen.shopInfo.shop_descript}></div>
  </div>
  <a href="<{url action=topc_ctl_shopcenter@index shop_id=$screen.shopInfo.shop_id}>" class="btn btn-link">进入店铺<i class="icon icon-chevron-right" data-icon="\2844"></i></a>
</div>
