<div class="order-search shop">
  <div class="ui-mask"></div>
  <{include file="topm/common/top.html"}>
  <div class="hd" id="fixhd">
    <div class="search-bar">
      <input type="text" placeholder="搜索">
      <button>
        <span class="icon icon-search"></span>
      </button>
    </div>
  </div>
  <div class="order-list main">
    <div>
      <ul class="tab-nav">
        <li <{if !$status}>class="active"<{/if}>><a href="<{url action=topm_ctl_member_trade@tradeList s=0}>" >全部</a></li>
        <li <{if $status == 1}>class="active"<{/if}>><a href="<{url action=topm_ctl_member_trade@tradeList s=1}>">待付款</a></li>
        <li <{if $status == 2}>class="active"<{/if}>><a href="<{url action=topm_ctl_member_trade@tradeList s=2}>">待发货</a></li>
        <li <{if $status == 3}>class="active"<{/if}>><a href="<{url action=topm_ctl_member_trade@tradeList s=3}>">待收货</a></li>
        <li <{if $status == 4}>class="active"<{/if}>><a href="<{url action=topm_ctl_member_trade@tradeList s=4}>">待评价</a></li>
      </ul>
      <div>
        <div class="showarea ui-refresh">
          <{if $trades}>
          <div class="data-list" id="content">
            <{include file="topm/member/trade/listitem.html"}>
          </div>
          <div class="ui-refresh-handle">
            <div class="ui-refresh-down"></div>
          </div>
          <{else}>
          <div class="order-search shop store-empty">
            <div class="main" id="main">
              <div class="empty-area">
                <i class="icon icon-order"></i>
                <span class="empty-txt">暂无此状态的数据</span>
              </div>
            </div>
          </div>
          <{/if}>
        </div>
      </div>
    </div>
  </div>
  <!--返回顶部-->
  <div id="gotop"></div>
</div>
<script>
  // 回到顶部
  $('#backtop').backTop();
  // tab切换
  $('#tabs').tabs({
    active: <{$status}>
  });
  // 全setup方式调用
  $('#menu').click(function(){
    $('.hd-menu .ui-mark-temp').removeClass('ui-in');
  });

  var pagers = <{$pagers|json_encode}>;
  pagers.next = pagers.current + 1;
  $('.ui-refresh').refresh({
      init: function () {
          if(pagers.current == pagers.total) {
              this.disable();
          }
      },
      load: function (dir, type) {
          var self = this;
          var $list = $('.data-list');
          $.get('<{url action=topm_ctl_member_trade@ajaxTradeShow}>', location.search.slice(1) + '&pages=' + pagers.next, function (rs) {
              if(rs.success) {
                  pagers.next = +rs.pagers.current + 1;
                  $list[dir == 'up' ? 'prepend' : 'append'](rs.html);
              }
              self.afterDataLoading();
              if(rs.pagers.current == rs.pagers.total) {
                  self.disable();
              }
          });
      }
  });
</script>


