<div class="ui-mask"></div>
<{include file="topm/common/top.html"}>
<div class="hd" id="fixhd">
  <div class="search-bar">
    <form action="<{url action=topm_ctl_shopcenter@search}>" method="get" id="shop_search" data-async="false">
      <div class="line"></div>
      <input type="text" name="n" id="item_title" placeholder="店内搜索" required>
      <input type="hidden" id="shop_id" name="shop_id" value="<{$shopdata.shop_id}>">
      <button type="submit" class="icon icon-search"></button>
    </form>
  </div>
  <div class="hd-menu">
    <a class="ui-btn" id="item">
      <span class="icon icon-item"></span>
    </a>
  </div>
</div>

<script type="text/javascript">

//店铺分类筛选
var cats = '<{$shopCat|json_encode}>';
var rs = JSON.parse(cats);
var arr = [];
var i = 0;
for(var x in rs){
  arr.push({
    cat_id: rs[x].cat_id,
    text: '<button class="dropmenu" id="cat_' + rs[x].cat_id + '">' + rs[x].cat_name + '<span class="icon icon-back"></span></button>',
    sub: []
  });
  i = arr.length;
  for(var y in rs[x].children){
    arr[i - 1].sub.push({
      text: '<button>' + rs[x].children[y].cat_name + '</button>',
      href: '<{url action=topm_ctl_shopcenter@search }>' + '?shop_id=' + rs[x].children[y].shop_id +'&shop_cat_id=' + rs[x].children[y].cat_id
    });
  }
}

$('#item').dropmenu({
  content: arr
});

for(var i = 0, j = arr.length; i < j; i++){
  $('#cat_' + arr[i].cat_id).dropmenu({
    content: arr[i].sub
  });
}

$('.dropmenu').click( function(){
  $(this).addClass('cur').parent().parent().siblings().children().children().removeClass('cur');
  $(this).next().show().parent().parent().siblings().children().children('.ui-dropmenu').hide();
});

</script>


