<div class="col-lg-13 box">
    <div class="membercenter-box">
        <div class="membercenter-box-bd">
            <div class="artical-detail">
                <div class="artical-detail-hd">
                 <h2><{$noticeInfo.notice_title}></h2>
                 <div class="time">通知日期：<{$noticeInfo.createtime|cdate:FDATE_STIME}></div>
                </div>
                <p>
                 <{$noticeInfo.notice_content}>
                </p>
            </div>
        </div>
    </div>
</div>