<link rel="stylesheet" type="text/css" href="images/topc/member/member.css" />
    <script type="text/javascript" src="images/test/demo.js"></script>
    <script type="text/javascript" src="images/test/wysiwyg.js"></script>
    <script type="text/javascript" src="images/test/wysiwyg-editor.js"></script>
    <link rel="stylesheet" href="http://libs.useso.com/js/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="images/css/wysiwyg-editor.css" />
<div class="maxM-right">
<div class="max-menber-title">
			<h2>企业信息完善</h2>
		</div>
<{include file='topc/member/userdata/block/detail.html'}>
			<!----企业基本信息---->
		</div>