
<{if $condition_value}>
    <{foreach from=$condition_value item=condition}>
       <!--  <div class="wholesale-rule-discount">
          <div class="wholesale-row">
            <span>
              满 <input type="number" min="1" required name="limit_number[]" 
              value="<{$condition[0]}>"> 件，给予 <input type="text"  name="discount[]" min="1" required value="<{$condition[1]}>"> % 折扣
            </span>
          </div>
        </div> -->

        <div class="wholesale-rule-discount col-sm-10">
          <div class="wholesale-row">
            <span class="form-text">满</span>
            <div class="col-sm-2">
              <input type="number" min="1" required name="limit_number[]" value="<{$condition[0]}>" class="form-control">
            </div>
            <span class="form-text">件，给予</span>
            <div class="col-sm-2">
              <input type="text"  name="discount[]" min="1" required value="<{$condition[1]}>" class="form-control">
            </div>
            <span class="form-text">% 折扣</span>
            <a class="del-btn form-text" href="javascript:void(0);">删除</a> 
          </div>
        </div>
       
    <{/foreach}>
<{/if}>
<!-- <div class="wholesale-rule-discount">
  <span class="form-text">满</span>
  <div class="col-sm-2">
    <input type="number" name="limit_number" value="<{$limit_number}>" class="form-control" min="1" required>
  </div>
  <span class="form-text">件，给予</span>
  <div class="col-sm-2">
    <input type="text" name="discount" value="<{$discount}>" class="form-control" min="1" required>
  </div>
  <span class="form-text">% 折扣</span>
</div> -->

