<div class="panel panel-outter">
  <div class="panel-heading">
  <div class="text-center">
    <ul class="step-bar">
      <li class="on">
        <div class="state">已下单，待付款</div>
        <div class="time">2015-01-16 18:25:03</div>
        <i class="glyphicon glyphicon-chevron-right"></i>
      </li>
      <li>
        <div class="state">已支付，待发货</div>
        <div class="time"></div>
        <i class="glyphicon glyphicon-chevron-right"></i>
      </li>
      <li>
        <div class="state">已申请取消，待审核</div>
        <div class="time"></div>
        <i class="glyphicon glyphicon-chevron-right"></i>
      </li>
      <li>
        <div class="state">审核通过，平台已处理</div>
        <div class="time"></div>
      </li>
    </ul>
  </div>
</div>
  <div class="panel-body">
    <div class="box box-solid">
      <div class="box-body">
        <h4>订单信息
        </h4>
        <div class="form-group row">
          <div class="col-xs-4">
            <label class="order-form-w1">订单号：</label>1501161825350002          </div>
          <div class="col-xs-4">
            <label class="order-form-w1">订单状态：</label>
                        等待买家付款
                      </div>
          <div class="col-xs-4">
            <label class="order-form-w1">下单时间：</label>2015-01-16 18:25:03          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-4">
            <label class="order-form-w1">付款状态：</label>未付款          </div>
          <div class="col-xs-4">
            <label class="order-form-w1">付款时间：</label>          </div>
          <div class="col-xs-4">
            <label class="order-form-w1">已支付金额：</label><span class="text-orange">￥3810.00</span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-4">
            <label class="order-form-w1">是否需要开发票：</label><span class="text-orange">不开发票</span>
          </div>
          <div class="col-xs-4">
            <label class="order-form-w1">发票类型：</label><span class="text-orange">无</span>
          </div>
          <div class="col-xs-4">
            <label class="order-form-w1">发票抬头：</label><span class="text-orange"> 无</span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-4">
            <label class="order-form-w1">商品总额：</label><span class="text-orange">￥3800.00</span>
          </div>
          <div class="col-xs-4">
            <label class="order-form-w1">运费金额：</label><span class="text-orange">￥10.00</span>
          </div>
          <div class="col-xs-4">
            <label class="order-form-w1">收货地区：</label>
            上海市徐汇区&nbsp;
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-4">
            <label class="order-form-w1">收货地址：</label>sadgs          </div>
          <div class="col-xs-4">
            <label class="order-form-w1">联系方式：</label>
            13676587676          </div>
          <div class="col-xs-4">
            <label class="order-form-w1">邮编：</label>
            23525
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-4">
            <label class="order-form-w1">处理状态：</label>平台已处理          
          </div>
        </div>
        <div class="form-group row">
          <span class="order-form-w1 pull-left">申请说明：</span>
          <span class="col-xs-8">
            <span class="col-xs-8">已经开始处理已经开始处理已经开始处理已经开始处理已经开始处理已经开始处理已经开始处理已经开始处理已经开始处理已经开始处理</span>
            <span class="col-xs-4">2014-09-12 15:00:00</span>
          </span>
        </div>
        <div class="form-group row">
          <span class="order-form-w1 pull-left">平台审核意见：</span>
          <span class="col-xs-8">
            <span class="col-xs-8">已经开始处理已经开始处理已经开始处理已经开始处理已经开始处理已经开始处理已经开始处理已经开始处理已经开始处理已经开始处理</span>
            <span class="col-xs-4">2014-09-12 15:00:00</span>
          </span>
        </div>
      </div>
    </div>

    <table class="table table-primary table-hover table-goods">
  <thead>
    <tr>
      <td>货号</td>
      <td class="col-name">商品名称</td>
      <td>单价</td>
      <td>数量</td>
      <td>金额</td>
    </tr>
  </thead>
  <tbody>
        <tr>
      <td>5s－1</td>
      <td>
        <div class="goods">
          <img src="http://localhost/bbc/public/images/ca/04/95/2577d269a9f708949d6a2b0114f379d6a0625f73.png?1421046701#h" alt="iphone 5s">
          <a href="http://localhost/bbc/index.php/item.html?item_id=12">iphone 5s</a>
        </div>
      </td>
      <td>
        ￥3800.00      </td>
      <td>
        1      </td>
      <td>
        <span class="text-orange">￥3800.00</span>
      </td>
    </tr>
      </tbody>
</table>
<div class="text-right">
  <div>
    商品总额：<span class="text-orange">￥3800.00 </span>
  </div>
</div>
  </div>
</div>

