<app>
    <name>店铺通用显示数据处理</name>
    <type>site</type>
    <description>提供店铺通用的一些功能处理</description>

    <author>
        <name>shopex开发团队</name>
        <email>dev@shopex.cn</email>
        <url>http://www.shopex.cn</url>
    </author>

    <version>0.1</version>
    <license>shopex license</license>
</app>
