<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <{include file="topshop/common/head.html"}>
</head>
<body class="skin-blue">
  <{include file="topshop/common/header.html"}>
  <div class="wrapper row-offcanvas row-offcanvas-left<{if !$topshop.sidebar}> center-container<{/if}>">
    <!-- Left side column. contains the logo and sidebar -->
    <{include file="topshop/common/sidebar.html"}>
    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
      <!-- Content Header (Page header) -->
      <{if $topshop.contentTitle}>
      <section class="content-header">
        <h1>
            <{$topshop.contentTitle}>
        </h1>
        <ol class="breadcrumb breadcrumb-primary">
            <{foreach from=$topshop.path item=item name=name}>
            <{if !$env.foreach.name.last}>
            <li><a href="<{$item.url}>"><{$item.title}></a></li>
            <{else}>
            <li class="active"><{$item.title}></li>
            <{/if}>
            <{/foreach}>
        </ol>
      </section>
      <{/if}>
      <section class="content">
      <{include file=$topshop.view}>
      </section><!-- /.content -->
    </aside><!-- /.right-side -->
  </div><!-- ./wrapper -->
  <{include file="topshop/common/footer.html"}>
</body>
</html>
