<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <{include file="topshop/common/head.html"}>
    </head>
    <body class="skin-blue">
        <div class="alert alert-error message in" role="alert" id="messagebox" style="display:none;"></div>
        <{include file="topshop/common/topbar.html"}>
        <div class="signup-logo-panel">
            <div class="logo"><{$topshop.contentTitle}></div>
        </div>
        <div class="form-box-wrap">
            <{include file=$topshop.view}>
        </div>
    </body>
</html>
