<div class="panel panel-outter">
  <div class="panel-heading">
    <div class="text-center">
      <ul class="step-bar">
        <li class="on">
          <div class="state">已下单，待付款</div>
          <div class="time">2015-01-16 18:25:03</div>
          <i class="glyphicon glyphicon-chevron-right"></i>
        </li>
        <li class="on">
          <div class="state">已支付，待发货</div>
          <div class="time">2015-02-09 14:31:24</div>
          <i class="glyphicon glyphicon-chevron-right"></i>
        </li>
        <li>
          <div class="state">已发货，待收货</div>
          <div class="time"></div>
          <i class="glyphicon glyphicon-chevron-right"></i>
        </li>
        <li>
          <div class="state">已完成</div>
          <div class="time"></div>
        </li>
      </ul>
    </div>
  </div>
  <div class="panel-body">
    <h4>退换货基本信息</h4>
    <div class="form-group row">
      <div class="col-xs-4">
        <span class="order-form-w1">退换货编号：</span>321000000000
      </div>
      <div class="col-xs-4">
        <span class="order-form-w1">申请时间：</span>2014-09-12 15:00:00
      </div>
      <div class="col-xs-4">
        <span class="order-form-w1">平台审核状态：</span>等待平台处理
      </div>
    </div>
    <div class="form-group row">
      <div class="col-xs-4">
        <span class="order-form-w1">退换货类型：</span>退货
      </div>
      <div class="col-xs-4">
        <span class="order-form-w1">处理状态：</span>处理中
      </div>
    </div>
    <h4>订单信息</h4>
    <div class="form-group row">
      <div class="col-xs-4">
        <span class="order-form-w1">订单编号：</span>321000000000
      </div>
      <div class="col-xs-4">
        <span class="order-form-w1">商家名称：</span>xxx
      </div>
      <div class="col-xs-4">
        <span class="order-form-w1">订单状态：</span>已完成
      </div>
    </div>
    <div class="form-group row">
      <div class="col-xs-4">
        <span class="order-form-w1">会员名称：</span>xxx
      </div>
      <div class="col-xs-4">
        <span class="order-form-w1">下单时间：</span>2014-09-12 15:00:00
      </div>
      <div class="col-xs-4">
        <span class="pull-left order-form-w1">收货信息：</span>
        <span class="pull-left">用户名 13100000000 <br/>上海徐汇区桂林路396号2号楼</span>
      </div>
    </div>
    <h4>退换货商品数量</h4>
    <table class="table table-primary table-hover table-goods">
      <thead>
        <tr>
          <td class="col-name">商品</td>
          <td>单价（元）</td>
          <td>数量</td>
          <td>总金额</td>
        </tr>
      </thead>
      <tbody id=""> 
        <tr>
          <td>
            <div class="goods">
              <a href="http://localhost/bbc/index.php/item.html?item_id=22" target="_blank">
              <img src="http://localhost/bbc/public/images/22/c6/8f/0bf0b4134df9e4ae652ad890bd3f6c76fe601698.jpg?1421057457#h" alt="">
              Apple/苹果MP3 iPod nano7 16G 7代 MP3/4播放器          </a>
            </div>
          </td>
          <td>
            ￥102.000
          </td>
          <td>
            10        
          </td>
          <td>
            ￥<span class="text-orange">1028.000</span>
          </td>
        </tr>    
      </tbody>
    </table>
    <div class="form-horizontal">
      <div class="border-box">
        <div class="form-group">
          <span class="order-form-w1">退换货理由：</span>质量原因
        </div>
        <div class="form-group">
          <span class="order-form-w1">问题描述：</span>衣服质量有问题
        </div>
        <div class="form-group">
          <span class="order-form-w1 pull-left">图片信息：</span>
          <span class="col-xs-8">
            <span class="goods pull-left">
              <a href="http://localhost/bbc/index.php/item.html?item_id=22" target="_blank"><img src="http://localhost/bbc/public/images/22/c6/8f/0bf0b4134df9e4ae652ad890bd3f6c76fe601698.jpg?1421057457#h" alt=""></a>
            </span>
            <span class="goods pull-left">
              <a href="http://localhost/bbc/index.php/item.html?item_id=22" target="_blank"><img src="http://localhost/bbc/public/images/22/c6/8f/0bf0b4134df9e4ae652ad890bd3f6c76fe601698.jpg?1421057457#h" alt=""></a>
            </span>
            <span class="goods pull-left">
              <a href="http://localhost/bbc/index.php/item.html?item_id=22" target="_blank"><img src="http://localhost/bbc/public/images/22/c6/8f/0bf0b4134df9e4ae652ad890bd3f6c76fe601698.jpg?1421057457#h" alt=""></a>
            </span>
            <span class="goods pull-left">
              <a href="http://localhost/bbc/index.php/item.html?item_id=22" target="_blank"><img src="http://localhost/bbc/public/images/22/c6/8f/0bf0b4134df9e4ae652ad890bd3f6c76fe601698.jpg?1421057457#h" alt=""></a>
            </span>
            <span class="goods pull-left">
              <a href="http://localhost/bbc/index.php/item.html?item_id=22" target="_blank"><img src="http://localhost/bbc/public/images/22/c6/8f/0bf0b4134df9e4ae652ad890bd3f6c76fe601698.jpg?1421057457#h" alt=""></a>
            </span>
          </span>
        </div>
        <div class="form-group">
          <span class="order-form-w1 pull-left">用户申请说明：</span>
          <span class="col-xs-8">
            <span class="col-xs-8">已经开始处理已经开始处理已经开始处理已经开始处理已经开始处理已经开始处理已经开始处理已经开始处理已经开始处理已经开始处理</span>
            <span class="col-xs-4">2014-09-12 15:00:00</span>
          </span>
        </div>
        <div class="form-group">
          <span class="order-form-w1 pull-left">退换货处理说明：</span>
          <span class="col-xs-8">
            <span class="col-xs-8">已经开始处理已经开始处理已经开始处理已经开始处理已经开始处理已经开始处理已经开始处理已经开始处理已经开始处理已经开始处理</span>
            <span class="col-xs-4">2014-09-12 15:00:00</span>
          </span>
        </div>
      </div>
      <div class="border-box">
        <div class="form-group">
          <em class="text-red">*</em>退还运费：处理中 ￥10
        </div>
        <div class="form-group">
          <div class="radio pull-left">
            <label>
              <input type="radio" name="optionsRadios" id="" value="">
              同意             
            </label>          
          </div>
          <div class="pull-left">
            ￥
            <input type="text" size="5">
            <span class="text-gray">最大不超过原运费金额</span>
          </div>
        </div>
        <div class="form-group">
          <div class="radio pull-left">
            <label>
              <input type="radio" name="optionsRadios" id="" value="">
              不同意             
            </label>          
          </div>
        </div>
      </div>
      <div class="border-box">
        <div class="form-group">
          <em class="text-red">*</em>商品赔付及金额调整：￥5
        </div>
        <div class="form-group">
          ￥
          <input type="text" size="5">
          <span class="text-gray">金额最大不能超过(订单总金额-涉及退换货商品款项-退还运费)</span>
        </div>
      </div>
      <div class="border-box">
        <div class="form-group">
          <span class="order-form-w1 pull-left"><em class="text-red">*</em>处理说明：</span>
          <div class="col-xs-8">
            <textarea class="form-control" name=""></textarea>
          </div>
        </div>
        <div class="form-group">
          <span class="order-form-w1 pull-left"><em class="text-red">*</em>选择处理结果：</span>
          <div class="col-xs-8 radio">
            <label>
              <input type="radio" name="optionsRadios" id="" value="">
              接受处理             
            </label>
            <label>
              <input type="radio" name="optionsRadios" id="" value="">
              不同意             
            </label>
          </div>
        </div>
        <div class="form-group">
          <span class="order-form-w1">&nbsp;</span>
          <button type="submit" class="btn btn-primary">保存</button>
        </div>
      </div>
      <div class="border-box">
        <div class="form-group row">
          <span class="pull-left">用户退换货物流信息：</span>
          <span class="pull-left">
            <span class="row">
              <span>物流公司：</span>
              <span>韵达快递</span>
            </span>
            <span class="row">
              <span>运单号码：</span>
              <span>3210000000000</span>
            </span>
            <span class="clearfix">
              <span class="pull-left">物流跟踪：</span>
              <span class="pull-left">
                2014-10-10 15:00 上海徐汇公司已收入<br/>
                2014-10-10 15:00 上海徐汇公司已收入<br/>
              </span>
            </span>
          </span>
        </div>
      </div>
      <div class="border-box">
        <div class="form-group">寄送信息：</div>
        <div class="form-group">
          <span class="order-form-w1 pull-left">用户收货信息：</span>
          <span class="col-xs-8">
            地址地址地址地址地址地址地址地址地址地址 xxx收 13011111111
          </span>
        </div>
        <div class="form-group">
          <span class="order-form-w1 pull-left"><a href="" data-toggle="modal" data-target="#logistics">填写物流信息></a></span>
        </div>
        <div class="form-group row">
          <span class="order-form-w1 pull-left">寄送物流信息：</span>
          <span class="pull-left">
            <span class="row">
              <span>物流公司：</span>
              <span>韵达快递</span>
            </span>
            <span class="row">
              <span>运单号码：</span>
              <span>3210000000000</span>
            </span>
            <span class="clearfix">
              <span class="pull-left">物流跟踪：</span>
              <span class="pull-left">
                2014-10-10 15:00 上海徐汇公司已收入<br/>
                2014-10-10 15:00 上海徐汇公司已收入<br/>
              </span>
            </span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <span class="order-form-w1 pull-left">申请说明：</span>
        <span class="col-xs-8">
          <span class="col-xs-8">已经开始处理已经开始处理已经开始处理已经开始处理已经开始处理已经开始处理已经开始处理已经开始处理已经开始处理已经开始处理</span>
          <span class="col-xs-4">2014-09-12 15:00:00</span>
        </span>
      </div>
      <div class="form-group">
        <span class="order-form-w1 pull-left">平台审核意见：</span>
        <span class="col-xs-8">
          <span class="col-xs-8">已经开始处理已经开始处理已经开始处理已经开始处理已经开始处理已经开始处理已经开始处理已经开始处理已经开始处理已经开始处理</span>
          <span class="col-xs-4">2014-09-12 15:00:00</span>
        </span>
      </div>
      <div class="form-group">
        <span class="order-form-w1 pull-left"><em class="text-red">*</em>申请说明：</span>
        <div class="col-xs-8">
          <textarea class="form-control" name=""></textarea>
        </div>
      </div>
      <div class="">
        <span class="order-form-w1">&nbsp;</span>
        <button type="submit" class="btn btn-primary">提交平台审核</button>
      </div>
    </div>    
  </div>
</div>

<!--填写物流信息弹框-->
<div class="modal fade" id="logistics">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">填写物流信息</h4>
      </div>
      <div class="modal-body">
        <div class="form-horizontal form-refund">
          <div class="row">
            <label for="" class="col-sm-4 control-label"><em class="text-red">*</em>选择物流公司</label>
            <div class="col-xs-8">              
              <select name="" required="" data-validate-field="">
                <option value="">其他</option>                              
              </select>
              <div><input type="text" placeholder="请填写物流公司名称"></div>
            </div>
          </div>
          <div class="row">
            <label for="" class="col-sm-4 control-label"><em class="text-red">*</em>填写物流单号</label>
            <div class="col-sm-8">              
              <input type="text">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">保存</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->