<div class="store-empty">
  <header>
    <div class="list-hd">
      <div class="backto icon-back ">
        <input type="button" name="returnBcak" onclick="history.back()">
      </div>
      <div class="tit"><{$error}></div>
        <div class="edit"><i class="icon"></i></div>
    </div>
  </header>
  <div class="main" id="main">
    <div class="empty-area">
      <i class="icon icon-goods"></i>
      <span class="empty-txt"><{$error}></span>
      <a href="<{url action=topm_ctl_default@index}>" class="ui-btn ui-btn-warning">挑选其他商品</a>
    </div>
  </div>
</div>

