<div class="prd-detail shop store-empty ">
  <header>
    <div class="list-hd">
      <div class="backto icon-back ">
        <input type="button" name="returnBcak" onclick="history.back()">
      </div>
      <div class="tit">商品详情</div>
      <div class="menu">
        <a href="<{url action=topm_ctl_cart@index}>" class="btn icon-cart">
        </a>
        <a href="<{url action=topm_ctl_default@index}>" class="btn icon-home">
        </a>
      </div>
    </div>
  </header>
  <div class="main" id="main">
    <div class="empty-area">
      <i class="icon icon-gift"></i>
      <span class="empty-txt">该商品已失效，去挑选其他商品吧~</span>
      <a href="<{url action=topm_ctl_default@index}>" class="ui-btn ui-btn-warning">去逛逛</a>
    </div>
  </div>
</div>