<div class="col-lg-13 box">

  <div class="membercenter-box">
    <div class="membercenter-box-hd">
      <{if $verifyType=='mobile'}>
        绑定手机
        <{else}>
        绑定邮箱
      <{/if}>
    </div>
    <div class="membercenter-box-bd">
      <div class="safe-box">
        <div class="status-bar">
          <div>1身份验证<i class="icon icon-arrow-right-b icon-last" data-icon="\2816"></i></div>
          <div class="on"><i class="icon icon-arrow-right-b icon-first" data-icon="\2816"></i>2设置绑定信息<i class="icon icon-arrow-right-b icon-last" data-icon="\2816"></i></div>
          <div><i class="icon icon-arrow-right-b icon-first" data-icon="\2816"></i>3绑定完成</div>
        </div>
        <form action="<{url action=topc_ctl_member@bindMobile}>" method="post" id="ajaxForm">
        <ul>
            <li class="form-row">
                <label for="" class="form-label">输入手机号码</label>
                <span class="form-act">
                    <input  type="hidden"  name="verifyType" value="<{$verifyType}>">
                    <input type="hidden" name="type"  value="reset" id="type">
                    <input type="text" class="x-input action-account-check" id="uname" name="uname" required>
                    <span class="validation-messagebox"></span>
                    <a href="<{url action=topc_ctl_member@sendVcode}>" class="btn btn-simple action-get-vcode"><span><span>获取验证码</span></span></a>
                </span>
            </li>
            <li class="form-row">
                <label for="" class="form-label">验证码</label>
                <span class="form-act">
                  <input class="input-ln" type="text" name="vcode" id="">
                </span>
            </li>
            <li class="form-item last">
                <label for="" class="form-label"></label>
                <span class="form-act">
                  <{button type="submit" class="btn btn-import" label="下一步"}>
                </span>
            </li>
        </ul>
        </form>
      </div>
    </div>

  </div>
</div>
<script type="text/javascript">

 (function(){
    var form = $('#ajaxForm');

    $(document).on('click', '.action-get-vcode', function(e) {
        e.preventDefault();
        var mobile = form.find('input[name=uname]').val();
        var type = form.find('input[name=type]').val();

        if($(this).hasClass('disabled')) return false;
        if(!mobile) {
          Message.error('请输入手机号码！');
          return false;
        }
        sendVerify(this, 'uname=' + mobile + '&type=' + type);
    })

    function sendVerify(el, data) {
        var url = el.href;
        var textCont = $(el).find('span span');
        $(el).addClass('disabled');
        textCont.html($(el).text() + '(<i>0</i>)');
        var cd = new countdown(textCont.find('i'), {
            start: 120,
            secondOnly: true,
            callback: function(e) {
                $(el).removeClass('disabled');
                textCont.html('重发验证码');
            }
        });
        $.post(url, data, function(rs) {
            if(rs.error) {
                cd.stop();
                Message.error(rs.message);
                $(el).removeClass('disabled');
                textCont.html('重发验证码');
            }
            else if(rs.redirect) {
                Message.success(rs.message, function() {
                    location.href = rs.redirect;
                });
            }
        });
    }
})();
</script>
