<div class="col-lg-13 box">
  <div class="membercenter-box">
    <div class="membercenter-box-hd">
      <{if $verifyType=='mobile'}>
      解绑手机
      <{else}>
      解绑邮箱
      <{/if}>
    </div>
    <div class="membercenter-box-bd">
      <div class="safe-box">
        <div class="status-bar">
         <div class="on">1发送验证链接<i class="icon icon-arrow-right-b icon-last" data-icon="\2816"></i></div>
          <div><i class="icon icon-arrow-right-b icon-first" data-icon="\2816"></i>2解绑完成</div>
        </div>
        <form action="<{url action=topc_ctl_member@sendVcode}>" method="post" id="ajaxForm">
          <ul>
            <{if $userInfo.login_account}>
            <input type="hidden" name="uname" value="<{$userInfo.email}>">
            <input type="hidden" name="type" value="unreset">
            <input type="hidden" name="op"  value="<{$op}>">
            <li class="form-row">
              <label for="" class="form-label"></label>
              <span class="form-act">
                已绑定邮箱：  <{$userInfo.email}>
              </span>
            </li> 
           
            <li class="form-item last">
              <label for="" class="form-label"></label>
              <span class="form-act">
                <a href="<{url action=topc_ctl_member@sendVcode}>" class="btn btn-simple action-get-vcode"><span><span>发送验证邮件</span></span></a>
              </span>
            </li>
            <{else}>
            <li class="form-row safe-hint">
              <label for="" class="form-label"></label>
              <i class="icon icon-alert" data-icon="\2803"></i>您还未设置用户名，无法解绑，请先<a href="<{url action=topc_ctl_member@pwdSet}>">设置用户名</a>
            </li>
            <{/if}>
          </ul>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  (function(){
    var form = $('#ajaxForm');

    $(document).on('click', '.action-get-vcode', function(e) {
      e.preventDefault();
      var email = form.find('input[name=uname]').val();
      var type = form.find('input[name=type]').val();

      if($(this).hasClass('disabled')) return false;
      if(!email){
        Message.error('请输入邮箱！');
        return false;
      }
      sendVerify(this, 'uname=' + email + '&type=' + type);
    })

    function sendVerify(el, data) {
      var url = el.href;
      var textCont = $(el).find('span span');
      $(el).addClass('disabled');
      textCont.html($(el).text() + '(<i>0</i>)');
      var cd = new countdown(textCont.find('i'), {
        start: 45,
          secondOnly: true,
          callback: function(e) {
            $(el).removeClass('disabled');
            textCont.html('重发验证邮件');
          }
      });

      $.post(url, data, function(rs) {
        $(el).removeClass('disabled');
        if(rs.error) {
          cd.stop();
          Message.error(rs.message);
          textCont.html('重发验证邮件');
        }else{
          Message.success(rs.message);
        }

      });
    }
  })();
</script>
