<form id="propForm" class="tableform" action="?app=syscase&ctl=admin_essay&act=save" method="POST">
<{input type="hidden"  name="essay_id" id="essay_id" value=$essayInfo.essay_id }>
  <div class="division">
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <th><em class="red">*</em><{t}>文章名称：<{/t}></th>
        <td><{input type="text" name="title" vtype="required"  value=$essayInfo.title }></td>
    </tr>
    <tr>
        <th><em class="red">*</em><{t}>类型：<{/t}></th>
        <td>
          <select name="essaycat_id">
          <{if $essayInfo.essaycat_id>0}>
          <option value="<{$essayInfo.essaycat_id}>" ><{t}><{$essayInfo.essaycat}><{/t}></option>
          <{else}>
           <option value="" ><{t}>请选择<{/t}></option>
           <{/if}>
            <{foreach from=$essaycatlist item=cats}>
              <option value="<{$cats.essaycat_id}>"><{$cats.essaycat}></option>
            <{/foreach}>
          </select>
        </td>
    </tr>
    <tr>
      <th><{t}>发布时间：<{/t}></th>
        <td><input type="date" name="pubtime"></td>
      </tr>
    <tr>
    <tr>
          <th><{t}>是否发布：<{/t}></th>
          <td>
            <input type="radio" name ="towhere" value="0" class="act-status">否
            <input type="radio" name ="towhere" value="1" class="act-status" checked>是
          </td>
    </tr>
    <tr>
      <th><{t}>案例列表图片：<{/t}></th>
      <td>
        <{input type="image" name='essay_logo' value=$essayInfo.essay_logo width=30 height=30}>
        <span class="notice-inline span_class">
          <{t}>请添加你所需要的案例列表图：120*80。<{/t}></span>
      </td>
    </tr>
    <tr>
        <th><{t}>案例摘要(限80字数)：<{/t}></th>
        <td><{input type="textarea" maxlength="80" style="resize:none;width:500px;height:50px;" name="abstract" vtype="required"  value=$essayInfo.abstract }></td>
      </tr>
    <tr>
         <th><em class="red">*</em><{t}>文章内容：<{/t}></th>
         <td><{input type="html" name="context" vtype="required"  value=$essayInfo.context maxlength='1000'}></td>
    </tr>
    </table>
   </div>
   <div class="table-action">
    <{button label="保存"|t:'syscase' type="submit" class="btn-primary"}>
  </div>
</form>

<script type="text/javascript">
$('propForm').store('target',
{
  onComplete:function(rs)
   {
   if(!rs) return;
   rs = JSON.decode(rs);
   if(rs.success)
     {
      if(window.finderGroup) window.finderGroup['<{$env.get.finder_id}>'].refresh();
      if($('propForm').getParent('.dialog'))
        {
          var Dlg = $('propForm').getParent('.dialog').retrieve('instance');
          if(Dlg.update)
            {
             Dlg.update.retrieve('instance').initContent();
            }
          Dlg.close();
        }
     }
   }
});
  
</script>
