<form action="<{url action=topc_ctl_passport@create}>" method="post" id="ajaxForm" class="form-tip-horizontal">
  <input type="hidden" name="next_page" value="<{$next_page}>">
  <input type="hidden" name="key" value="topc_signup">
  <ul>
    <li class="form-row">
      <label class="form-label"><em>*</em>登录名</label>
      <span class="form-act has-figure">
        <input type="text" class="input-block action-account-check" name="pam_user[account]" id="for_account" placeholder="用户名/邮箱/手机号，最少4个字符" required minlength="4" data-caution="请填写登录帐号，最少4个字符" data-remote="<{url action=topc_ctl_passport@checkLoginAccount}>" autofocus>
        <i class="icon-user input-figure"></i>
      </span>
    </li>
    <li class="form-row">
      <label class="form-label"><em>*</em>设置密码</label>
      <span class="form-act has-figure">
        <input type="password" class="input-block auto-password-check-handle" name="pam_user[password]" placeholder="6-20个字符" required minlength="6" maxlength="20" data-caution="请填写密码，6-20个字符&&输入不正确，最少6个字符&&输入不正确，最多20个字符">
        <i class="icon-lock input-figure"></i>
        <div class="password-check">
          <q>安全程度</q>
          <span class="progress">
            <em class="weak">弱</em><em class="good">中</em><em class="strong">强</em>
          </span>
        </div>
      </span>
    </li>
    <li class="form-row">
      <label class="form-label"><em>*</em>确认密码</label>
      <span class="form-act has-figure">
        <input type="password" class="input-block" name="pam_user[pwd_confirm]" id="" maxlength="20" placeholder="再次填写密码" required data-equalto="pam_user[password]" data-caution="密码与确认密码不相符，请重新填写">
        <i class="icon-lock input-figure"></i>
      </span>
    </li>
    <li class="form-row verify-code action-verifycode">
      <label class="form-label"><em>*</em>验证码</label>
      <span class="form-act">
        <input type="text" class="verify-input input-st" name="verifycode" id="iptlogin" required size="4" maxlength="4">
        <img align="absmiddle" class="auto-change-verify-handle" id="membervocde" src="<{url action=toputil_ctl_vcode@gen_vcode key=topc_signup}>" alt="验证码" width="100" height="30">
        <div class="inline auto-change-verify-handle"><div>看不清？</div><a href="javascript:void(0);">换一张</a></div>
      </span>
    </li>
    <li class="form-row verify-code action-mobile-verify hide">
      <label class="form-label"><em>*</em>手机验证码</label>
      <span class="form-act">
        <input type="text" name="vcode" id="" class="verify-input input-st">
        <a href="<{url action=topc_ctl_passport@sendVcode}>" class="btn btn-simple action-get-verifycode"><span><span>发送验证码</span></span></a>
      </span>
    </li>
    <li class="form-row">
      <label class="form-label">&nbsp;</label>
      <span class="form-act">
        <input type="checkbox" class="x-checkbox" name="license" id="for_license" data-validate="onerequired" data-caution="<{t}>请选择同意<{/t}>">
        <label for="for_license">我已阅读并同意<a href="javascript:void(0);" class="action-open-dialog">《会员注册协议》</a></label>
      </span>
    </li>
    <li class="form-row">
      <label class="form-label">&nbsp;</label>
      <span class="form-act">
        <button type="submit" class="btn btn-import btn-block" rel="_request"><span><span>立即注册</span></span></button>
      </span>
    </li>

    <li class="form-row">
      <label class="form-label">&nbsp;</label>
      <span class="form-act">
        <a class="link-color to-login" href="<{url action=topc_ctl_passport@signin}>">已有账号？去登录 &raquo;</a>
      </span>
    </li>
  </ul>
</form>

<!--注册协议弹框-->
<div id="dialog" style="display:none;">
  <div class="agreement">
    <div class="title">会员注册协议</div>
    <div><{$license}></div>
    <div class="text-center"><a href="javascript:void(0);" class="btn btn-import btn-lg dialog-btn-close"><span><span>同意并继续</span></span></a></div>
  </div>
</div>

<script>
var form = $('#ajaxForm');
var account = form.find('.action-account-check');

form.find('button[type=submit]').data('ajaxConfig', {
    callback: function(rs) {
        if(rs.error) {
            changeCode($('img.auto-change-verify-handle'));
        }
    }
});

account.data('remoteCallback',function(rs){
    var parent = this.closest('.form-row');
    var tips = new Tips({
        'class': 'caution col-lg-4',
        'target': parent
    });
    if(rs.error) {
        parent.removeClass('has-success').addClass('has-error');
        return tips.error(rs.message);
    }
    else {
        parent.removeClass('has-error');
        if(rs.success) {
            parent.addClass('has-success');
            tips.success(rs.message);
        }
        else {
            tips.hide();
        }

        if(validatorMap.mobile[1](this, this.val())) {
            if(rs.needVerify == 'mobile') {
                form.find('.action-mobile-verify').removeClass('hide');
                form.find('.action-verifycode').addClass('hide');
            }
            return;
        }
        form.find('.action-mobile-verify').addClass('hide');
        form.find('.action-verifycode').removeClass('hide');
    }
});

$('.action-open-dialog').click(function (e) {
    $('#dialog').dialog({
        width: 890,
        height: 400,
        title:'用户注册协议',
        close: function(){
            document.querySelector('#for_license').checked = true;
        }
    });
});

$(document).on('click', '.action-get-verifycode', function(e) {
    e.preventDefault();
    if($(this).hasClass('disabled')) return false;
    sendVerify(this, 'uname=' + account[0].value + '&type=signup');
});

function sendVerify(el, data) {
    var url = el.href;
    var textCont = $(el).find('span span');
    $(el).addClass('disabled');
    textCont.html($(el).text() + '(<i>0</i>)');
    var cd = new countdown(textCont.find('i'), {
        start: 120,
        secondOnly: true,
        callback: function(e) {
            $(el).removeClass('disabled');
            textCont.html('重发验证码');
        }
    });
    $.post(url, data, function(rs) {
        if(rs.error) {
            cd.stop();
            Message.error(rs.message);
            $(el).removeClass('disabled');
            textCont.html('重发验证码');
        }
        else if(rs.redirect) {
            Message.success(rs.message, function() {
                location.href = rs.redirect;
            });
        }
    });
}

</script>
