<form id="checkForm" class="tableform complain"  action="?app=sysrate&ctl=feedback&act=doClosed"  method="POST" >
  <input type="hidden" name='id' value=<{$id}>>
  <div class="division">
    <h4>反馈问题的详细描述</h4>
    <table width="100%" cellspacing="0" cellpadding="0">
      <tbody>
        <tr>
          <th>联系电话:</th>
          <td><{$tel}></td>
        </tr>
        <tr>
          <th>详细描述:</th>
          <td><{$question}></td>
        </tr>
      </tbody>
    </table>
  </div>
  <{if $status == 'active'}>
  <div class="division">
    <div class="reject-edit">
      <table width="100%" cellspacing="0" cellpadding="0">
        <tbody>
          <tr>
            <th>处理备注:</th>
            <td><textarea type="textarea" name='memo' cols="60" rows="5" maxlength="200" placeholder="请填写备注，已供查看"></textarea></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="table-action">
    <{button type="submit" id='check-form-submit' label="问题已处理,关闭问题"}>
    <{button type="button btn-secondary" isclosedialogbtn="1" label="取消"}>
  </div>
</form>
<{else}>
<div class="division">
  <table width="100%" cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <th>处理备注:</th>
        <td><{$memo|default:'未填写备注'}></td>
    </tr>
  </tbody>
</table>
</div>
<div class="table-action">
  <{button type="button btn-secondary" isclosedialogbtn="1" label="取消"}>
</div>
<{/if}>
<script>

  $('checkForm').store('target',{
    onComplete:function(rs){
      if(!rs) return;
      rs = JSON.decode(rs);
      if(rs.success){
        if(window.finderGroup) window.finderGroup['<{$env.get.finder_id}>'].refresh();
        if($('checkForm').getParent('.dialog')){
          var Dlg = $('checkForm').getParent('.dialog').retrieve('instance');
          if(Dlg.update){
            Dlg.update.retrieve('instance').initContent();
          }
          Dlg.close();
        }
      }
    }
  });

</script>
