<div class="signin2">
    <div class="offset-lg-1 success-info">
      <div class="success-info-l1"><i class="icon icon-checkmark-c"></i>恭喜<{$loginname}>已经注册成功！</div>
      <div class="success-info-l2">
        <p>您可以</p>
          <div class="success-info-operate">
            <a href="<{url action=topc_ctl_default@index}>" class="btn btn-flat decrease" data-min="1"><span><span>立即购物</span></span></a>
            <a href="<{if $next_page}><{$next_page}><{else}><{url action=topc_ctl_default@index}><{/if}>" class="btn btn-flat decrease" data-min="1"><span><span>返回注册前页面</span></span></a>
            <a href="<{url action=topc_ctl_member@index}>" class="btn btn-flat decrease" data-min="1"><span><span>进入会员中心</span></span></a>
          </div>
        <!--
        <p class="text-muted">建议您立即进行邮箱验证，使账户更安全购物更放心，<a href="#">点击</a>进行邮箱验证！</p>
        -->
      </div>
    </div>
  </div>

