<form id="cancelForm" action="?app=systrade&ctl=admin_trade&act=cancelTrade"  method="POST" >
  <ul>
    <li class="form-row">
      <label for="" class="form-label">订单号：</label>
      <input type="hidden" name="data[tid]" value="<{$tid}>">
      <span class="form-act"><{$tid}></span>
    </li>
    <li class="form-row">
      <label for="" class="form-label"><em>*</em>取消原因</label>
      <textarea name="data[cancel_reason]" cols="5" rows="3" placeholder="请填写取消订单原因" style="margin: 0px; height: 90px; width: 292px;" ></textarea>
    </li>
  </ul>
  <div class="table-action">
    <{button type="submit" id='cancel-form-submit' label="确定取消"}>
    <{button type="button" isclosedialogbtn="1" label="放弃取消"}>
  </div>
</form>

<script>

  (function(){
    var _form = $('cancelForm');
    var btn =$('cancel-form-submit');
    var finder = finderGroup['<{$env.get._finder.finder_id}>'];

    _form.store('target',{
      onSuccess:function(response){
        var hash_res_obj = JSON.decode(response);

        if (hash_res_obj.success != undefined && hash_res_obj.success != ""){
          try{
            var _dialogIns = btn.getParent('.dialog').retrieve('instance');
          }catch(e){}

          if(_dialogIns){
            _dialogIns.close();
            window.finderGroup['<{$env.get._finder.finder_id}>'].refresh();
          }
        }
      }
    });

    btn.addEvent('click',function(){
      _form.fireEvent('submit',{stop:$empty});
    });
  })();
</script>
