<div class="choose">
  <{if $item.valid == true}>
  <{if $item.spec_desc}>
  <div class="choose-spec" id="spec_select">
    <{foreach from=$item.spec_desc item=spec key=spec_id}>
    <div class="dt"><{$item.spec.specName.$spec_id}>：</div>
    <div class="dd choose-item-wrap">
      <{foreach from=$spec item=spec_value key=spec_value_id }>
      <div class="choose-item">
        <{if $spec_value.spec_image_url}>
        <a href="<{$spec_value_id}>"><img src="<{$spec_value.spec_image_url}>" width="25" height="25"></a>
        <{else}>
        <a href="<{$spec_value_id}>"><i><{$spec_value.spec_value}></i></a>
        <{/if}>
        <span class="icon icon-dropdown">
          <i class="icon icon-checkmark-d"></i>
        </span>
      </div>
      <{/foreach}>
    </div>
    <{/foreach}>
  </div>
  <{/if}>
  <div class="choose-quantity">
    <div class="dt">购买数量：</div>
    <div class="dd">
      <div class="number">
        <a href="javascript:void(0);" class="btn btn-flat btn-decrease"><span><span>-</span></span></a>
        <input type="number" name="item[quantity]" min="1" max="<{if $activityDetail.activity_info.buy_limit}><{$activityDetail.activity_info.buy_limit}><{else}><{$item.realStore}><{/if}>" value="1" class="action-quantity-input">
        <a href="javascript:void(0);" class="btn btn-flat btn-increase"><span><span>+</span></span></a>
      </div>
    </div>
  </div>
  <{/if}>
  <div class="btn-wrap">
    <input type="hidden" name="item[sku_id]" value="<{$item.default_sku_id}>">
    <button type="button" class="btn btn-simple btn-xl action-notify<{if $item.valid}> hide<{/if}>">
      <span><span>暂不销售</span></span>
    </button>
    <{if $item.realStore > 0}>
      <{if $nologin!=1}>
        <a href="<{url action=topc_ctl_passport@signin next_page=$next_page}>" class="btn btn-import btn-xl btn-fastbuy<{if !$item.valid}> hide<{/if}>"><span><span>立即购买</span></span></a>
        <a href="<{url action=topc_ctl_passport@signin next_page=$next_page}>" class="btn btn-caution btn-xl btn-addcart<{if !$item.valid}> hide<{/if}>"><span><span>加入购物车</span></span></a>
        <{else}>
        <button type="submit" class="btn btn-import btn-xl btn-fastbuy action-fastbuy<{if !$item.valid}> hide<{/if}>"><span><span>立即购买</span></span></button>
        <a href="<{url action=topc_ctl_cart@add}>" class="btn btn-caution btn-xl btn-addcart action-addcart<{if !$item.valid}> hide<{/if}>"><span><span>加入购物车</span></span></a>
      <{/if}>
    <{/if}>

    <{*if $item.valid && $item.realStore == 0*}>
    <a href="javascript:void(0);" class="btn btn-caution btn-xl btn-addcart action-open-dialog  <{if !$item.valid || $item.realStore > 0}> hide <{/if}>">
      <span><span>到货通知</span></span>
    </a>
    <!--注册协议弹框-->
    <div id="dialog" style="display:none;">
      <div class="agreement">
        <div >该货品暂时缺货，请在下面输入您的邮箱地址，当我们有现货供应时，我们会发送邮件通知您！</div>
        <div>
          <ul>
            <li class="form-row">
              <label class="form-label"><em>*</em>邮箱号</label>
              <span class="form-act has-figure">
                <input type="text"  name="email" id="ea" value="" placeholder="邮箱号" >
              </span>
            </li>
          </ul>
        </div>
        <div class="text-center">
          <a href="javascript:void(0);" class="btn btn-import btn-xl dialog-btn-submit">点击提交</a>
        </div>
      </div>
    </div>

  </div>

</div>
<script>
$('.action-open-dialog').click(function (e) {
    e.preventDefault();
    $('#dialog').dialog({
        width: 400,
        height: 400,
        title:'到货通知',
        onShow: function(){
          var self = this;
          this.content.find('.dialog-btn-submit').click(function (e) {
            var email = self.content.find('input[name=email]').val();
            if(confirm("确定要提交吗？")){
                var url = "<{url action=topc_ctl_memberItem@userNotifyItem}>";
                var shopId = "<{$item.shop_id}>";
                var item_id= "<{$item.item_id}>";
                var sku_id = $('input[name="item[sku_id]"]').val();
                var data = 'shop_id='+shopId+'&item_id='+item_id+'&sku_id='+sku_id+'&email='+email;
                console.log(data);
                $.post(url,data,function(rs){
                  if(rs.error) {
                    Message.error(rs.message);
                  }else{
                    Message.success(rs.message);
                  }
                });
            }
          });
        }
    });
});

</script>
