<form action="<{url action=topshop_ctl_promotion_coupon@save_coupon}>" method="post" class="form-horizontal clearfix" data-validate-onsuccess="ajaxSubmit" role="form">
  <input type='hidden' name='coupon_id' value="<{$coupon_id}>">
  <div class="panel panel-default">
    <div class="panel-heading">设置优惠券名称</div>
    <div class="panel-body">
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">
          <{t}>优惠券名称
            <{/t}>：</label>
        <div class="col-sm-4">
          <input type="text" name="coupon_name" required value="<{$coupon_name}>" class="form-control" placeholder="优惠券名称" maxlength="50" required>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">
          <{t}>优惠券描述
            <{/t}>：</label>
        <div class="col-sm-4">
          <input type="text" name="coupon_desc" required value="<{$coupon_desc}>" class="form-control" placeholder="优惠券描述" maxlength="50" required>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">设置适用商品</div>
    <div class="panel-body">
      <div class="item-filter-title clearfix">
        <div class="form-group">
          <div class="col-sm-12 conditions">
            <label class="radio-inline"><input type="radio" name="condition" checked> 选择指定商品</label>
            <!-- <label class="radio-inline all"><input type="radio" name="condition"> 选择全部店铺商品</label> -->
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10">
            <div class="condition-view">
              <div>
                <span class="form-text">一级分类</span>
                <div class="col-sm-2">
                  <select class="form-control add-items-select">
                    <option value="">请选择</option>
                    <{foreach from=$shopCatList item=catlist}>
                    <option value="<{$catlist.cat_id}>" label="<{$catlist.cat_name}>"><{$catlist.cat_name}></option>
                    <{/foreach}>
                  </select>
                </div>
                <span class="form-text">二级分类</span>
                <div class="col-sm-2">
                  <select class="form-control add-items-select">
                    <option value="">请选择</option>
                  </select>
                </div>
                <span class="form-text">三级分类</span>
                <div class="col-sm-2">
                  <select class="form-control add-items-select action-select-category">
                    <option value="">请选择</option>
                  </select>
                </div>
                <span class="form-text">品牌</span>
                <div class="col-sm-2">
                  <select class="form-control add-items-select action-select-brand">
                    <option value="">全部品牌</option>
                  </select>
                </div>
              </div>
              <div style="display: none">
                <div class="col-sm-6">
                  <h3><i class="fa fa-check-circle"></i> 已选择全部店铺商品</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="result">
        <div class="item-filter-table filter-result">
          <div class="item-filter-hd">
            <div class="item-check"><input type="checkbox" class="action-checkall"></div>
            <div class="item-name">商品名称</div>
            <!-- <div class="item-cate">商品类别</div>  -->
            <div class="item-price">商品价格</div>
            <div class="item-search">
              <div>
                <div class="col-sm-9">
                  <input type="hidden" id="cat_id" value="">
                  <input type="hidden" id="brand_id" value="">
                  <input type="text" class="form-control" id="items_name" placeholder="">
                </div>
                <div class="col-sm-3">
                  <button type="button" class="btn btn-warning form-control items-search">搜索</button>
                </div>
              </div>
            </div>
          </div>
          <div class="item-filter-bd" id="op_items_list">
          </div>
        </div>
        <div class="item-filter-title text-right">
          <div class="form-group">
            <div class="col-sm-10">
            </div>
            <div class="col-sm-2 text-right">
              <button type="button" class="btn btn-primary form-control action-add-item" href="">添加</button>
            </div>
          </div>
        </div>
        <div class="item-filter-title clearfix">
          <h5 class="pull-left">已添加的商品</h5>
        </div>
        <div class="item-filter-table filter-added">
          <div class="item-filter-hd">
            <div class="item-check"></div>
            <div class="item-name">商品名称</div>
            <!-- <div class="item-cate">商品类别</div>
            <div class="item-brand">商品品牌</div> -->
            <div class="item-price">商品价格</div>
            <div class="item-check"></div>
          </div>
          <div class="item-filter-bd" id="op_items_added">
            <{include file='topshop/promotion/coupon/couponlist.html'}>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">设置规则</div>
    <div class="panel-body">
      <div class="form-group">
        <label class="col-sm-2 control-label">
          <{t}>使用平台
            <{/t}>：</label>
        <div class="col-sm-10 radio">
          <label class="form-inline">
            <input type="radio" name="used_platform" value='0' <{if $used_platform=='0' || !$used_platform}>checked
            <{/if}> > 全平台
          </label>
          <label class="form-inline">
            <input type="radio" name="used_platform" value='1' <{if $used_platform=='1' }>checked
            <{/if}> > pc端
          </label>
          <label class="form-inline">
            <input type="radio" name="used_platform" value='2' <{if $used_platform=='2' }>checked
            <{/if}> > wap端
          </label>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">适用会员：</label>
        <div class="col-sm-10">
          <{foreach from=$gradeList item=grade_item}>
            <label class="checkbox-inline">
              <input type="checkbox" name="grade[]" value="<{$grade_item.grade_id}>" <{if $grade_item.is_checked}> checked
              <{/if}> >
                <{$grade_item.grade_name}>
            </label>
            <{/foreach}>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">
          <{t}>优惠券金额
            <{/t}>：</label>
        <div class="col-sm-10">
          <span class="form-text">满</span>
          <div class="col-sm-2">
            <input type="text" name="limit_money" value="<{$limit_money}>" class="form-control" min="1" required>
          </div>
          <span class="form-text">减</span>
          <div class="col-sm-2">
            <input type="text" name="deduct_money" value="<{$deduct_money}>" class="form-control" min="1" required>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">
          <{t}>生成优惠券总数量
            <{/t}>：</label>
        <div class="col-sm-2">
          <input type="number" name="max_gen_quantity" value="<{$max_gen_quantity}>" class="form-control" min="1" required>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">
          <{t}>用户总计可领取数量
            <{/t}>：</label>
        <div class="col-sm-2">
          <input type="number" name="userlimit_quantity" value="<{$userlimit_quantity}>" class="form-control" min="1" required>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">
          <{t}>优惠券可领取时间段
            <{/t}>：</label>
        <div class="col-sm-3">
          <div class="input-group input-group-sm">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <input type="text" class="form-control pull-right reservation" style="max-width:100%;" readonly name="cansend_time" value="<{$cansend_time}>">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">
          <{t}>优惠券有效期
            <{/t}>：</label>
        <div class="col-sm-3">
          <div class="input-group input-group-sm">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <input type="text" class="form-control pull-right reservation" style="max-width:100%;" readonly name="valid_time" value="<{$valid_time}>">
          </div>
        </div>
      </div>
      <!-- <div class="form-group">
            <label class="col-sm-2 control-label"><{t}>使用范围<{/t}>：</label>
            <div class="col-sm-3 radio">
                <label class="form-inline">
                    <input type="radio" name="use_bound" value='0' <{if $use_bound=='0' || !$use_bound}>checked<{/if}> > 全场
                </label>
                <label  class="form-inline">
                    <input type="radio" name="use_bound" value='1' <{if $use_bound=='1'}>checked<{/if}> > 指定商品
                </label>
            </div>
        </div> -->
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary btn-lg btn-block action-save">保存</button>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-default btn-lg btn-block action-cancel">取消</button>
    </div>
    <div class="col-md-4">
      
    </div>
  </div>
</form>
<script>
$('.reservation').daterangepicker({
    format: 'YYYY/MM/DD',
    opens: 'right'
});

function ajaxSubmit (e) {
  var form = e.target;
  e.preventDefault();
  $.post(form.action, $(form).serialize(), function(rs) {
    if(rs.error) {
      $('#messagebox').message(rs.message);
      return;
    }
    if(rs.success) {
      $('#messagebox').message(rs.message, 'success');
    }
    if(rs.redirect) {
      location.href = rs.redirect;
    }
  });
}

var list = $('#op_items_list');
var added = $('#op_items_added');

var jsonData = '<{$notEndItem}>';
var addedItems;
if(jsonData == ''){
  addedItems = []
}else{
  addedItems = JSON.parse(jsonData);
}

//var addedItems = JSON.stringify('<{$notEndItem}>') || [];

function getBrand(el) {
  var catId = el.val();
  if(catId!=''){
    $.ajax({
      url: '<{url action=topshop_ctl_promotion_coupon@getBrandList}>',
      type: 'POST',
      dataType: 'json',
      data: {
        "catId": catId
      },
      success: function(data){
        if(data){
          var result = '';
          result += '<option value="">全部品牌</option>'
          for (var i = 0; i < data.length; i++) {
            result += '<option value="'+ data[i].brand_id +'">'+ data[i].brand_name +'</option>';
          };
          $('.action-select-brand').empty().append(result);
        }
      }
    });
  }else{
    checkNext(el);
  }
}

getPro();

function getPro(catId, brandId, name) {
  $.ajax({
    url: '<{url action=topshop_ctl_promotion_coupon@searchItem}>',
    type: 'POST',
    dataType: 'json',
    data: {
      "searchname": name,
      "catId": catId,
      "brandId": brandId,
      "couponId":"<{$coupon_id}>",
    },
    success: function(rs){
      var data;
      var itemList = rs.itemsList;
      var checkedItem = rs.notEndItem;
      var checkedArr = [];
      if(checkedItem.length==0){
        data = rs.itemsList;
      }else{
        if(checkedItem.length > 0){
          for (var i = 0; i < itemList.length; i++) {
            var flag = true;
            for (var j = 0; j < checkedItem.length; j++) {
              if(itemList[i].item_id==checkedItem[j]) {
                flag = false;
                break
              };
            };
            if (flag){
              checkedArr.push(itemList[i])
            }
          }
          data = checkedArr;
        }
      }
      var result = '';
      for (var i = 0; i < data.length; i++) {
        result += '<div class="item-filter-row items"><div class="item-check"><input type="checkbox" name="item_id[]" value="'+ data[i].item_id +'" class="action-checkitem"></div><div class="item-name"><div class="goods"><a href="'+ '<{url action=topc_ctl_item@index}>?item_id='+data[i].item_id +'" target="_blank"><img src="'+ data[i].image_default_id +'" alt="">'+ data[i].title +'</a></div></div><div class="item-price">'+ data[i].price +'</div></div>';
      };
      list.html(result);
    }
  });
}

function getCategory(el) {
  var catId = el.val();
  if(catId!=''){
    $.ajax({
      url: '<{url action=toputil_ctl_syscat@getChildrenCatList}>',
      type: 'POST',
      dataType: 'json',
      data: {
        "cat_id": catId
      },
      success: function(data){
        if(data.data){
          var cat_sec = data.data.options;
          var result = '';
          result += '<option value="">请选择</option>'
          for(var i in cat_sec) {
            result += '<option value="'+ cat_sec[i].value +'">'+ cat_sec[i].text +'</option>';
          }
          el.parent().next().next().find('.add-items-select').empty().append(result);
        }
      }
    });
  }else{
    checkNext(el);
  }
}

function checkNext(el) {
  var next = el.parent().next().next().find('.add-items-select');
  if(!next){
    return false;
  }else{
    next.empty().append('<option value="">请选择</option>');
  };
  checkNext(next);
}

$('.add-items-select').change(function(){;
  $('#items_name').val('');
  if($(this).hasClass('action-select-category')){
    getPro($(this).val());
    getBrand($(this));
    $('#cat_id').val($(this).val());
  }
  else if($(this).hasClass('action-select-brand')){
    $('#brand_id').val($(this).val());
    getPro($('#cat_id').val(),$('#brand_id').val());
  }
  else{
    getCategory($(this));
  }
});

$('.action-checkall').change(function(e) {
    checkAll(this, $(this).parents('.item-filter-table').find('.action-checkitem'));
});
$('.action-add-item').click(function(e) {
    e.preventDefault();
    var items = list.find('.action-checkitem:checked');
    var pros = added.find('.items');
    if(pros.length ==0){
      added.empty();
    }
    items.filter(function (i) {
          if(addedItems.indexOf(this.value) < 0) {
              addedItems.push(this.value);
              return true;
          }
          $(this).parents('.item-filter-row').remove();
          return false;
      })
      .prop('checked', false)
      .parents('.item-filter-row').find('.action-checkitem').css('display','none')
      .parents('.item-filter-row').append('<div class="item-check del"><a class="item-del" href="#">删除</a></div>').appendTo(added);

    if(!list.children().length) {
        list.parents('.item-filter-table').find('.action-checkall').prop('checked', false);
    }
});
added.on('click','.item-del',function(e){
  e.preventDefault();
  var delVal = $(this).parents('.item-filter-row').find('.action-checkitem').val();
  $(this)
  .parents('.item-filter-row').find('.action-checkitem').css('display','inline-block')
  .parents('.item-filter-row').appendTo(list)
  .find('.del').remove();
  var emptyDom = '<div class="item-filter-row"><div align="center">暂未添加商品</div></div>'
  var pros = added.find('.items');
  if(pros.length ==0){
    added.append(emptyDom);
  }
  for (var i = 0; i < addedItems.length; i++) {
    if(delVal == addedItems[i]){
      addedItems.splice(i);
    }
  };
});
$('.action-delete-item').click(function(e) {
    e.preventDefault();
    added.find('.action-checkitem:checked')
      .filter(function (i, el) {
          addedItems.splice(addedItems.indexOf(el.value), 1);
          var checkbox = list.find('.action-checkitem');
          var result = true;
          checkbox.length && checkbox.each(function() {
              if(this.value == el.value) {
                  $(el).parents('.item-filter-row').remove();
                  result = false;
              }
          });
          return result;
      })
      .prop('checked', false)
      .parents('.item-filter-row').appendTo(list);

    if(!added.children().length) {
        added.parents('.item-filter-table').find('.action-checkall').prop('checked', false);
    }
});

$('.items-search').click(function(){
  var catID = $('#cat_id').val();
  var brandID = $('#brand_id').val();
  var itemsName = $('#items_name').val();
  getPro(catID, brandID, itemsName)
});

$('.conditions label').click(function() {
  var cidx = $(this).index();
  $('.condition-view>div').hide().eq(cidx).show();
  if($(this).hasClass('all')){
    $('.action-add-item').hide();
    $('.result').hide();
  }else{
    $('.action-add-item').show();
    $('.result').show();
  }
});

$('.action-save').click(function(e) {
  added.find('.action-checkitem').prop('checked', true);
});
</script>